.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 16px 24px 0 rgba(0, 0, 0, .03);
  height: 66px;
  background-color: $color-white;
  z-index: 111;
  transition: all $ease-main;

  @include screen('desktop-small') {
    align-items: stretch;
    height: 78px;
  }

  .burger {
    margin-left: auto;

    @include screen('desktop-small') {
      margin-left: 0;
      background-color: $color-white;
      z-index: 112;
    }
  }

  .logo {
    padding-left: $container-padding-mobile;

    @include screen('desktop-small') {
      padding-left: 36px;
    }
  }

  .scroll-wrapper {
    height: 100%;
  }

  .block-list {
    font-family: $font-fourth;
  }

  &__menu-anchors {
    opacity: 1;
    pointer-events: none;

    @include screen('desktop-small') {
      position: absolute;
      top: 100%;
      right: 0;
      width: 25vw;
      z-index: 112;
      opacity: 0;
      background-color: $color-white;
      margin-top: -1px;
    }

    .headeer__navigation.is-active & {
      pointer-events: auto;
    }

    &.is-active {
      @include screen('desktop-small') {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  &__menu {
    display: flex;
    justify-content: flex-end;
  }

  &__navigation {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translate3d(0, -100%, 0);
    pointer-events: none;
    opacity: 0;
    transition: all $ease-main;
    background: $color-white;
    z-index: 112;

    @include screen('desktop-small') {
      position: relative;
      top: auto;
      left: auto;
      width: auto;
      height: auto;
      pointer-events: auto;
      opacity: 1;
      display: flex;
      transform: translate3d(0, 0, 0);
      z-index: 10;
      border-right: 1px solid $color-border;
    }

    &.is-active {
      opacity: 1;
      pointer-events: auto;
      transform: translate3d(0, 0, 0);
      overflow-y: scroll;
      overflow-x: hidden;
    }

    .scrollblock {
      height: auto;

      @include screen('desktop-small') {
        display: flex;
      }
    }
  }

  &.is-small {
    height: 68px;
  }

  &__close-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $color-border;
    box-sizing: border-box;

    @include screen('desktop-small') {
      display: none;
    }

    .logo {
      opacity: .3;

      &__bottom {
        display: none;
      }
    }
  }
}
