.text-block {
  display: block;

  @include text-small;

  line-height: 25px;

  @include screen('tablet-wide') {
    @include text;

    line-height: 29px;
  }

  p b {
    color: $color-dirt;
    font-weight: 700;
  }

  p {

    &:not(:last-child) {
      margin-bottom: $grid-gap;

      @include screen('tablet-wide') {
        margin-bottom: 58px;
      }
    }
  }

  &_small-mg {

    p:not(:last-child) {
      @include screen('tablet-wide') {
        margin-bottom: 30px;
      }
    }
  }

  &_stylized {

    p:first-child::first-letter {
      padding: 0;
      margin: 0;
      padding-right: 10px;
      float: left;
      font-size: 49px;
      font-weight: 700;
      line-height: 49px;
      font-family: $font-second;
      color: $color-dirt;

      @include screen('tablet-wide') {
        @include heading-big;

        line-height: 58px;
        font-weight: 700;
        padding-right: 12px;
      }
    }

    .ff & p:first-child::first-letter {
      padding-top: 9px;

      @include screen('tablet-wide') {
        padding-top: 10px;
      }
    }

    &_black {

      p:first-child::first-letter {
        color: $color-basic;
      }
    }
  }

  &_big-style {
    @include screen('tablet-wide') {
      box-sizing: border-box;

      @include text-biggest;

      font-family: $font-third;
      font-weight: 500;
      line-height: 1.21;
      padding-top: 32px;
      border-top: 2px solid $color-main;
    }
  }

  &_frame {
    position: relative;
    border: 1px solid $color-lighter-grey;
    border-left-width: 0;
    border-right-width: 0;
    box-sizing: border-box;
    padding: 7.8vw $container-padding-mobile 9.375vw;

    @include screen('tablet-wide') {
      border-left-width: 1px;
      border-right-width: 1px;
      padding: 4.6vw 4.2vw;
    }

    &::before {
      @include pseudo;

      width: calc(100% - 2 * 6.875vw);
      height: 2px;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: $color-main;

      @include screen('tablet-wide') {
        width: calc(100% - 2 * 4.2vw);
      }
    }

    p b {
      color: $color-basic;
    }
  }
}
