.text-block {
  display: block;

  @include text-small;

  line-height: 25px;

  @include screen('tablet-wide') {
    @include text;

    line-height: 29px;
  }

  p b {
    color: $color-dirt;
    font-weight: 700;
  }

  p {

    &:not(:last-child) {
      margin-bottom: $grid-gap;

      @include screen('tablet-wide') {
        margin-bottom: 58px;
      }
    }
  }

  &_small-mg {

    p:not(:last-child) {
      @include screen('tablet-wide') {
        margin-bottom: 30px;
      }
    }
  }

  &_stylized {

    p:first-child::first-letter {
      padding: 0;
      margin: 0;
      padding-right: 10px;
      float: left;
      font-size: 49px;
      font-weight: 700;
      line-height: 49px;
      font-family: $font-second;
      color: $color-dirt;

      @include screen('tablet-wide') {
        @include heading-big;

        line-height: 58px;
        font-weight: 700;
        padding-right: 12px;
      }
    }

    .ff & p:first-child::first-letter {
      padding-top: 9px;

      @include screen('tablet-wide') {
        padding-top: 10px;
      }
    }

    &_black {

      p:first-child::first-letter {
        color: $color-basic;
      }
    }
  }

  &_big-style {
    @include screen('tablet-wide') {
      box-sizing: border-box;

      @include text-biggest;

      font-family: $font-third;
      font-weight: 500;
      line-height: 1.21;

      p:first-child {
        padding-top: 30px;
        border-top: 2px solid $color-main;
      }
    }
  }
}
