.page-section {
  display: block;
  width: 100%;
  padding: 13.3vh 0;
  box-sizing: border-box;

  &__title {
    @include heading-5;
    font-family: $font-fourth;

    &_big {
      @include heading-big;
      font-family: $font-second;
      line-height: 1.017;
    }
  }

  &__top {
    margin-bottom: 8vh;
  }

  &_dark {
    color: $color-white;
    background-color: $color-bg2;
  }

  &_light {
    background-color: $color-bg;
  }

  &_style {
    background-image: url('../images/dust.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }
}
