.page-section {
  display: block;
  width: 100%;
  padding: 13.3vh 0;
  box-sizing: border-box;

  &__title {
    @include heading-5;

    font-family: $font-fourth;
    font-weight: 700;
    margin-bottom: 74px;

    &_big {
      @include heading-big;

      font-family: $font-second;
      line-height: 1.017;
      margin-bottom: 0;
    }
  }

  &__top {
    margin-bottom: 8vh;
  }

  &__map-describe {
    position: relative;
    width: 100%;
    z-index: 4;
    overflow: hidden;
    margin-top: -9.2vh;
  }

  &_dark {
    color: $color-white;
    background-color: $color-bg2;
  }

  &_light {
    background-color: $color-bg;
  }

  &_style {
    background-image: url('../images/dust.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }

  &_map {
    padding-top: 0;
  }
}
