.page-section {
  display: block;
  width: 100%;
  padding: 12.5vw 0;
  box-sizing: border-box;

  @include screen('tablet') {
    padding: 8.33vw 0;
  }

  &__title {
    @include heading-6;

    font-family: $font-fourth;
    font-weight: 700;
    width: 100%;
    letter-spacing: .029em;
    margin-bottom: 26px;
    box-sizing: border-box;

    @include screen('tablet-wide') {
      @include heading-5;

      font-weight: 700;
      letter-spacing: normal;
      margin-bottom: 72px;
    }

    &_big {
      @include heading-3;

      @include screen('tablet-wide') {
        @include heading-big;

        line-height: 1.017;
        margin-bottom: 0;
        letter-spacing: 0;
      }
    }

    &_style {
      font-family: $font-second;
      letter-spacing: normal;
    }

    &_small {
      @include heading-3;

      color: $color-main;
      line-height: 1;
      margin-bottom: 12px;

      @include screen('tablet-wide') {
        @include heading-2;

        line-height: 1;
        margin-bottom: 32px;
        width: 100%;
      }
    }

    &_smb {
      @include screen('tablet-wide') {
        margin-bottom: 54px;
      }
    }
  }

  &__side-title {
    @include text;

    font-family: $font-third;
    font-weight: 500;
    box-sizing: border-box;
    margin-top: 29px;
    margin-bottom: 24px;

    @include screen('tablet-wide') {
      @include heading-4;

      font-weight: 500;
      line-height: 1.23;
      margin-top: 0;
      margin-bottom: 33px;
    }

    &_bold {
      font-weight: 700;

      @include screen('tablet-wide') {
        font-weight: 700;
      }
    }

    &_mt {
      margin-top: 14px;

      @include screen('tablet-wide') {
        margin-top: 65px;
        margin-bottom: 38px;
      }
    }
  }

  &__subtitle {
    @include heading-6;

    line-height: 1.47;
    margin-bottom: 22px;

    @include screen('tablet-wide') {
      margin-bottom: 0;
    }
  }

  &__top {
    margin-bottom: 8vh;
  }

  &__map-describe {
    position: relative;
    width: 100%;
  }

  &__mobile-focus {
    width: 100%;
    margin-top: 6vw;

    @include screen('tablet-wide') {
      margin-top: 0;
    }
  }

  &__media {
    position: relative;
    display: block;
    width: calc(100% + 6.875vw);
    margin-left: -$container-padding-mobile/2;
    margin-right: -$container-padding-mobile/2;
    height: 100%;
    overflow: hidden;

    @include screen('tablet-wide') {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }

    &_long {
      padding-top: 74.4%;
      height: auto;
      margin-bottom: $container-padding-mobile;

      @include screen('tablet-wide') {
        padding-top: 58%;
        margin-bottom: 3.4vw;
      }
    }

    &_wide {
      width: calc(100% + 2 * 6.875vw);
      padding-top: 70.6%;
      height: auto;

      @include screen('tablet-wide') {
        width: 100%;
        padding-top: 61.6%;
      }
    }
  }

  &__image {
    @include fill-img;
  }

  &__accent {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__statistic {
    margin-bottom: 11vw;

    .stat-data {
      margin-bottom: 23px;

      @include screen('tablet-wide') {
        margin-bottom: 30px;
      }
    }
  }

  &__side-wrapper {
    @include screen('tablet-wide') {
      width: 100%;
    }
  }

  &__links {
    width: 100%;

    .download-link {
      width: 100%;
      max-width: 300px;

      @include screen('tablet-small') {
        width: 50%;
        margin-right: 12px;
      }

      @include screen('tablet-wide') {
        margin-right: 0;
        width: 100%;
      }

      &:not(:last-child) {
        margin-bottom: 12px;

        @include screen('tablet-wide') {
          margin-bottom: 24px;
        }
      }
    }
  }

  &__head {
    position: relative;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    background-color: $color-bg;
    padding-top: 13vw;

    @include screen('tablet-wide') {
      padding-top: 0;
    }

    .page-section__title {
      position: absolute;
      width: 100%;
      top: calc(13vw - 6px);
      left: 0;
      z-index: 3;
      padding: 0 $container-padding-mobile;

      @include screen('tablet-wide') {
        top: 0;
        padding: $grid-gap;
      }
    }
  }

  &__panel {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 100%;

    &-button {
      width: 100%;
      color: $color-white;
      background-color: $color-charcoal-grey-2;
      box-sizing: border-box;
      padding: 26px $container-padding-mobile 30px;

      @include screen('tablet') {
        width: 50%;
      }

      @include screen('tablet-wide') {
        padding: 34px 45px 40px;
      }

      &_gold {
        background-color: $color-main;
      }

      .page-section__side-title {
        margin-top: 0;
        margin-bottom: 22px;
      }

      .link {
        @include text-small;

        font-family: $font-fourth;
        letter-spacing: .029em;
        font-weight: 700;
      }
    }
  }

  &_dark {
    color: $color-white;
    background-color: $color-bg2;
  }

  &_light {
    background-color: $color-bg;
  }

  &_small {
    padding: 11.875vw 0 10vw;

    @include screen('tablet-wide') {
      padding: 6.7vw 0 6.1vw;
    }
  }
}
