.block-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  @include screen('desktop-small') {
    flex-direction: row;
  }

  &__item {
    position: relative;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 22px 0 24px;

    @include screen('desktop-small') {
      position: static;
      padding: 0;
      border-left: 1px solid $color-border;
    }

    &:hover {

      .block-list__icon {
        opacity: .5;
      }
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: $container-padding-mobile;
    width: 7.1px;
    height: 11.4px;
    fill: $color-main;
    transform: translateY(-50%);
    pointer-events: none;
    transition: opacity $ease-main;

    @include screen('desktop-small') {
      display: none;
    }
  }

  .link {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 $container-padding-mobile;
    vertical-align: middle;
    box-sizing: border-box;
    width: 100%;

    @include screen('desktop-small') {
      width: auto;
      padding: 0 36px 6px;
    }

    @include text-small;

    line-height: 1.2;
    letter-spacing: .03em;
    font-weight: 700;
  }
}
