mixin popup-focus()
  +popup.popup-focus__&attributes(attributes)
    +e.wall
      +e.IMG.image(src="assets/images/russia.jpg")
    +popup-title Фокус: Россия
    .content-zone.content-zone_no-mg
      h5 Образовательные программы
      p Одним из ключевых направлений совместной работы российских Центров с Сердцем ЕврАзии, является подготовка специалистов (кардиохирургов, анестезиологов, кардиологов, электрофизиологов), работающих с наиболее тяжелой категорией пациентов. <br>В 2010 году запущена программа “Контроля качества в кардиохирургии”. <br>В 2013 году начаты совместные операции у новорожденных с врожденными пороками сердца. В 2014 году российские специалисты из различных городов (Сыктывкара, Новгорода, Екатеринбурга, Вологды, Череповца) неоднократно приезжали на курс по кардиореанимации, проводимыой экспертом Сердца ЕврАзии доктором Д. Клаувером. За 24 месяца было проведено 28 миссий, а в период с 2014 по 2018 выполнено 364 операции, 412 консилиумов сложных пациентов, прочитано 32 курса лекций и проведено 108 онлайн- консультаций.
      h5 Научные исследования
      ul
        li
          b Проект по элиминации стернальной инфекции.
          br
          | В 2009 году Фонд инициировал проект по элиминации стернальной инфекции после кардиохирургических операций, выступив научным консультантом и координатором проекта. Исследование проводилось в Санкт-Петербурге, Новосибирске, Томске, Москве, Астрахани и других городах. Начавшись с серии лекций и показательных операций, уже в 2014 году проект позволил снизить частоту стернальной инфекции до менее чем 1% во всех центрах — участниках проекта. В 2014 году исследование было удостоено Гранта Президента РФ В.В. Путина.
        li
          b Сотрудничество с национальным медицинским исследовательским центром имени академика Е.Н. Мешалкина 
          br
          | Фонд наладил тесное сотрудничество в сфере операций у наиболее сложных категорий пациентов — пожилого и старческого возраста с тяжелой сопутствующей патологией.
      h5 Совершенствование лечения
      p Одним из партнеров Сердца ЕврАзии является Первый Санкт-Петербургский государственный медицинский университет им. академика И.П. Павлова, возглавляемый член-корр. РАН, профессором Г.Г. Хубулава. На протяжении многих лет проводится совместная работа по совершенствованию работы кардиохирургических отделений Северо-Западного Федерального Округа, а также развитию смежных специальностей: кардиологии, перфузиологии, анестезиологии, интенсивной терапии и послеоперационного лечения взрослых и детей. Основной принцип работы Сердца ЕврАзии — &laquo;поддержка в организации самопомощи&raquo; — прекрасно работает в России.
      h5 Подготовка молодых специалистов
      p Подготовка молодых российских специалистов, работающих в наиболее сложной сфере — кардиохирургии новорожденных и детей раннего возраста, непосредственно в лечебных учреждениях по наиболее сложным разделам, является одним из приоритетных направлений деятельности Сердца ЕврАзии. Передача практических навыков, знаний и опыта происходит непосредственно в операционной, а также отделении кардиореанимации. Такой подход не только повышает эффективность образования, но и предотвращает отток молодых специалистов за границу, а открывает большие возможности развития на родине.
