.table {
  width: 100%;

  @include text;

  thead tr {
    border-width: 2px;
  }

  td {
    vertical-align: middle;
    @include text-middle;
    line-height: 1.94;

    &:first-child {
      width: 30%;
    }

    &:last-child {
      width: 70%;
      padding-left: 12px;
      padding-right: 0;
      font-weight: 700;
    }
  }
}
