mixin footer()
  +b.footer&attributes(attributes)
    +e.column_left
      +logo-full
    +e.column_right
      +link-language('assets/images/english.png')._dark.__language(href="https://www.eurasiaheart.ch/en") English        
