mixin link(tag)
  +b(tag || 'a').link&attributes(attributes)
    +e.SPAN.text
      block

mixin link-icon(iconname)
  +b.A.link&attributes(attributes)._icon
    +icon(iconname).__icon
    +e.SPAN.text
      block

mixin link-arrow(tag)
  +b(tag || 'a').link&attributes(attributes)._arrow
    +e.SPAN.text
      block
    +e.SPAN.arrow
      +icon('arrow-small').arrow-icon

mixin link-language(img)
  +b.A.link_language&attributes(attributes)
    +e.IMG.icon(src=img)
    +e.SPAN.text
      block
