.link {
  display: inline-block;

  &__text {
    @include link;
  }

  &_icon {
    position: relative;
    padding-left: 25px;

    .link__icon {
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  &__icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    fill: $color-main;
  }

  &__arrow {
    width: 24px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 4px;

    &-icon {
      width: 7.1px;
      height: 11.4px;
      fill: currentColor;
    }
  }

  &_language {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    @include text-small;

    font-family: $font-fourth;
    line-height: 1.17;
    letter-spacing: .03em;
    font-weight: 700;

    .link {

      &__icon {
        width: 23px;
        height: 15px;
        margin-right: 12px;
      }

      &__text, &__arrow {
        color: $color-basic;
      }
    }
  }

  &_dark {

    .link__text, .link__arrow {
      @include link-dark;
    }
  }

  &_light {

    .link__text, .link__arrow {
      @include link-light;
    }
  }

  &_arrow {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
  }

  &.disabled {
    pointer-events: none;

    .link__icon { fill: $color-border; }
  }
}
