mixin child(img, name, disease, age, town)
  +b.child&attributes(attributes)
    +e.media
      +e.IMG.image(src=img)
    +e.name!= name
    +e.disease!= disease
    +table.child__info
      +e.TR
        +e.TD Возраст
        +e.TD!= age
      +e.TR
        +e.TD Город
        +e.TD!= town

mixin child-short(img)
  +b.A.child_short&attributes(attributes)
    +e.DIV.media
      +e.IMG.image(src=img)
