mixin child(img, name, title, video)
  +b.child&attributes(attributes)
    +e.media
      +e.wrapper
        +e.IMG.image(src=img)
      if video
        +play._big.js-fancybox(href=video)
    +e.title!= title
    +e.info
      +e.name!= name
      +e.text
        block

mixin child-short(img)
  +b.A.child_short&attributes(attributes)
    +e.DIV.media
      +e.wrapper
        +e.IMG.image(src=img)
