.donation {
  display: block;
  box-sizing: border-box;
  width: 100%;

  @include screen('tablet-wide') {
    padding: 0 9.375vw;
  }

  &__title {
    font-family: $font-second;
    width: 100%;
    margin-bottom: 30px;

    @include heading-3;

    font-weight: 700;
    line-height: 1;

    @include screen('tablet-wide') {
      @include heading-large;

      font-weight: 700;
      line-height: 1;
      margin-bottom: 90px;
    }
  }

  &__content {
    position: relative;
    background: $color-bg2;
    color: $color-white;
    box-sizing: border-box;
    padding: 11.8vw $container-padding-mobile 12.9vw;
    width: 100%;

    @include screen('tablet-wide') {
      padding: 6.25vw 9.6vw;
    }

    &::before {
      @include screen('tablet-wide') {
        @include pseudo;

        width: calc(100% - 44px);
        height: calc(100% - 44px);
        top: 50%;
        left: 50%;
        box-sizing: border-box;
        border: 1px solid rgba($color-white, .1);
        transform: translate3d(-50%, -50%, 0);
        pointer-events: none;
      }
    }
  }

  .grid {
    margin-bottom: 0 !important;
  }

  .donate {
    @include screen('tablet-wide', max) {
      margin-bottom: 10px;
    }
  }

  .button {
    width: 100%;
    max-width: 400px;

    @include screen('tablet-wide') {
      max-width: none;
    }
  }
}
