mixin person(img, name)
  +b.person&attributes(attributes)
    +e.wrapper
      +e.media-wrapper
        +e.media
          if img
            +e.IMG.image(src=img)
      +e.name!= name
    +e.describe
      block
