.person {
  display: block;
  box-sizing: border-box;

  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 14px;

    @include screen('tablet-wide') {
      margin-bottom: 0;
    }
  }

  &__media {
    position: relative;
    display: inline-block;
    width: 37%;
    padding-top: 37%;
    overflow: hidden;
    box-sizing: border-box;
    background-color: $color-charcoal-grey;

    @include screen('tablet-wide') {
      width: 100%;
      padding-top: 100%;
      margin-bottom: 20px;
    }
  }

  &__image {
    @include fill-img;
  }

  &__name {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 63%;
    box-sizing: border-box;
    padding: 10px 20px 10px 24px;
    vertical-align: middle;
    hyphens: auto;

    @include text;

    line-height: 1.3;
    font-weight: 500;
    font-family: $font-third;
    border: 1px solid $color-border;
    border-left-width: 0;

    @include screen('tablet-wide') {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      border: none;

      @include heading-4;

      font-weight: 500;
      line-height: 1.1;
      letter-spacing: -.008em;
      margin-bottom: 5px;
    }
  }

  &__describe {
    color: $color-warm-grey-2;

    @include text-small;

    font-family: $font-fourth;
    line-height: 1.29;
    letter-spacing: .029em;
    width: 100%;
  }

  &__short-info {
    width: 100%;
    transition: all $ease-main;
  }

  &__full-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    opacity: 0;
  }

  &__more {
    color: $color-main;

    @include text-small;

    font-family: $font-fourth;
    line-height: 1.29;
    letter-spacing: .029em;
    text-decoration: none;

    &:hover {
      color: rgba($color-main, .7);
    }
  }
}
