.patients {
  display: block;

  .statistic {
    width: 100%;

    @include screen('tablet-wide') {
      width: 25vw;
      min-width: calc(360px + 17.2vw);
      padding-bottom: 2.8vw;
    }
  }

  &__mobile-stat {
    padding: 12.5vw 0;

    @include screen('tablet-wide') {
      display: none;
    }
  }

  .statistic__item {

    &:nth-child(even) {
      padding-left: 10px;

      @include screen('tablet-wide') {
        padding-left: 0;
      }
    }
  }
}
