mixin patients()
  +b.patients__.js-sr_1&attributes(attributes)
    .container
      +e.mobile-stat
    +slider(false, true).js-slider
      +slide('_statistic')
        +statistic('Наши пациенты')._patients
          +e.subtitle За 4 года в&nbsp;России:
          +e.UL.list
            +e.item
              +stat-data('364') операции, 64% новорожденных
            +e.item
              +stat-data('32') курса лекций
            +e.item
              +stat-data('108') консультаций онлайн
            +e.item
              +stat-data('412') консилиумов сложных пациентов
      +slide('_child')
        +child('assets/images/vp-child.jpg', '', 'Видеоинтервью с родителями пациентов', 'https://www.youtube.com/watch?v=H3dnZuM2RrA')  
          +link.js-fancybox(href="https://www.youtube.com/watch?v=H3dnZuM2RrA") Смотреть видео
      +slide('_child')
        +child('assets/images/child-1.jpg', 'Поваго Вероника', 'Тотальный аномальный дренаж лёгочных вен') 2 года, Санкт-Петербург 
      +slide('_child')
        +child('assets/images/child-2.jpg', 'Колоев Дауд', 'Врожденный порок сердца') 17 лет, Ингушетия
      +slide('_child')
        +child('assets/images/child-3.jpg', 'Ложкина Алиса', 'Дефект межжелудочковой перегородки. Лёгочная артериальная гипертензия') 2,5 года, Ленинградская область
      +slide('_child')
        +child('assets/images/child-4.jpg', 'Ярослав Дьяконов', 'Коарктация аорты. Дефект межжелудочковой перегородки') 2 года, Москва
      +slide('_child')
        +child('assets/images/child-5.jpg', 'Глеб Шалашин', 'Аномалия Тауссиг-Бинг') 1,5 года
      +slide('_list')
        +child-list
          +e.LI.item
            +reg-button.js-popup(href="#registration")
          +e.LI.item
            +child-short('assets/images/child-6.jpg')
      +slide('_list')
        +child-list
          +e.LI.item
            +child-short('assets/images/child-7.jpg')
          +e.LI.item
            +child-short('assets/images/child-8.jpg')
      +slide('_list')
        +child-list
          +e.LI.item
            +child-short('assets/images/child-9.jpg')
          +e.LI.item
            +child-short('assets/images/child-10.jpg')
      +slide('_list')
        +child-list
          +e.LI.item
            +child-short('assets/images/child-11.jpg')
          +e.LI.item
            +child-short('assets/images/child-12.jpg')
      +slide('_list')
        +child-list
          +e.LI.item
            +child-short('assets/images/child-13.jpg')
          +e.LI.item
            +child-short('assets/images/child-14.jpg')
      +slide('_list')
        +child-list
          +e.LI.item
            +child-short('assets/images/child-15.jpg')
          +e.LI.item
            +child-short('assets/images/child-16.jpg')
      +slide('_list')
        +child-list
          +e.LI.item
            +child-short('assets/images/child-17.jpg')
          +e.LI.item
            +child-short('assets/images/child-18.jpg')
      +slide('_list')
        +child-list
          +e.LI.item
            +child-short('assets/images/child-19.jpg')
          +e.LI.item
            +child-short('assets/images/child-20.jpg')
      +slide('_list')
        +child-list
          +e.LI.item
            +child-short('assets/images/child-21.jpg')
          +e.LI.item
            +child-short('assets/images/child-22.jpg')
      +slide('_list')
        +child-list
          +e.LI.item
            +child-short('assets/images/child-23.jpg')
          +e.LI.item
            +child-short('assets/images/child-24.jpg')
      +slide('_list')
        +child-list
          +e.LI.item
            +child-short('assets/images/child-25.jpg')
