extends ../../layouts/default

block head
  - var pageTitle = 'Фонд Сердце ЕврАзии'

block content
  +header
  .overlay
  +b.page
    +main
    +page-section._light
      .container
        +grid
          +col(6)
            +text-block._stylized
              +e.P Наша главная задача — повышение квалификации и обучение специалистов в сфере кардиологии и сердечно-сосудистой хирургии новорождённых, детей и взрослых. Мы реализуем эту задачу посредством тесного сотрудничества швейцарских и российских специалистов.
              +e.P
                +e.I Наша миссия —&nbsp;
                | сохранение здоровья молодого поколения и предотвращение преждевременной смертности детей и подростков из-за сердечно-сосудистых заболеваний.
          +col(6)
            +text-block
              +e.P
                +e.I Наша цель —&nbsp;
                | спасти как можно больше детей. В этом нам помогает налаженная система передачи медицинских знаний в области диагностики, лечения и профилактики сердечно-сосудистых заболеваний, а также практических навыков в кардиологии, хирургии и ряде смежных специальностей.
    +patients
    +page-section._dark._style
      .container
        +info-block
    +page-section._dark
      .container
        +grid.page-section__top
          +col(3)
            +e.H3.title_big Люди фонда
          +col(3)
            +person('assets/images/member-1.jpg', 'Пауль Фогт')
              +e.short-info Учредитель Фонда Ведущий кардиохирург Швейцарии
          +col(3)
            +person('assets/images/member-2.jpg', 'Герхард Шредер')
              +e.short-info Сопредседатель Попечительского Совета Фонда, Экс-канцлер Германии
          +col(3)
            +person('assets/images/member-3.jpg', 'Дёлф Оги')
              +e.short-info Сопредседатель Попечительского Совета Фонда, Экс-президент Швейцарии
        +accordions(true)
          +accordion-experts
          +accordion-trustees
  +popups
    +popup-news#news
    +popup-registration#registration
    +popup-contacts#contacts
    +popup-donation#donation
    +popup-focus#focus
