extends ../../layouts/default

block head
  - var pageTitle = 'Фонд Сердце ЕврАзии'

block content
  +header
  .overlay
  +b.page
    +main
    +page-section._light.__mission
      .container
        +grid
          +col({ md: 12, xl: 6 })
            +text-block._stylized.js-sr_1
              +e.P <b>Наша главная задача —</b> передавать медицинские знания, делиться опытом и повышать квалификацию специалистов в сфере кардиологии и сердечно-сосудистой хирургии новорождённых и детей.
              +e.P(data-hidden-text="mission")
                +e.B Наша миссия —&nbsp;
                | сохранить здоровье молодого поколения и предотвратить преждевременную смертность детей и подростков из-за сердечно-сосудистых заболеваний.
          +col({ md: 12, xl: 6 })(data-hidden-text="mission")
            +text-block._big.js-sr_2
              +e.P
                +e.B Наша цель —&nbsp;
                | спасти как можно больше детей, нуждающихся в операции, обеспечить им высокое качество жизни  и стать надежным помощником их родителям.
        +text-switcher(data-target-text="mission") Наша миссия
    +patients
    +page-section._dark._small.__focus
      .container
        +e.title_style._small.js-sr_1 Россия
        +grid
          +col({ md: 12, xl: 8 })
            +text-block._small-mg.js-sr_1
              p – многолетний и надежный партнер Фонда. Поддержка Президентом и правительством национального российского проекта «Здоровье» в сочетании с международной образовательной и научной деятельностью Сердца ЕврАзии может вывести российские федеральные центры сердечно-сосудистой хирургии на мировой уровень и прекратить отток пациентов за границу.
              p(data-hidden-text="focus") С 2005 года Фонд сотрудничает с российскими партнерами. Миссии осуществляются в Санкт-Петербурге, Новосибирске, Екатеринбурге, Пензе, Петрозаводске, Томске, Иркутске, Воронеже. В числе партнерских организаций Фонда — Первый Санкт-Петербургский государственный медицинский университет им. академика И.П. Павлова, Военно-медицинская академия, Санкт-Петербургский Государственный Педиатрический Медицинский Университет, Новосибирский Институт Патологии Кровообращения им. Е.Н. Мешалкина, Томский центр детского сердца РАН, Ярославский медицинский университет и др.
            +text-switcher(data-target-text="focus") Россия
          +col({md: 12, xl: 4})(data-fbd-place="focus").mobile-hide
            +focus.js-popup.js-sr_2(href="#focus" data-float-block="focus")
    +page-section._dark._map.__map
      .container
        +e.subtitle.desktop-hide.js-sr_1 Фонд активно работает
      +map.js-sr_1
      +e.map-describe
        .container
          +grid
            +col({ md: 12, xl: 8 })
              +text-block.js-sr_1
                p.desktop-hide а также в Узбекистане, Армении, Болгарии, Украине, Эритрее и Вьетнаме. 
                p По запросам руководства этих стран Сердце ЕврАзии занимается образованием и обучением персонала непосредственно в лечебных учреждениях, позволяя углубить практические знания, технические навыки и их применение в операционных, а также в отделениях кардиореанимаций.
            +col({md: 12, xl: 4})
              +e.accent.mobile-hide
                +text-block._big-style.js-sr_2
                  p Фонд наиболее активно работает в России, Узбекистане, Армении, Болгарии, Украине, Мьянме, Камбодже, Китае, Эритрее и Вьетнаме.
        +e.mobile-focus.desktop-hide(data-fbm-place="focus")
    +page-section._light.page__statistic
      .container
        +e.H3.title.js-sr_1 Статистика
        +grid
          +col({ md: 12, xl: 8 }).page__statistic-data
            +statistic-list
              +e.UL.list
                +e.item.js-sr_1
                  +stat-data('17,5 млн') Ежегодно от сердечно-сосудистых заболеваний умирает 17,5 млн человек.
                +e.item.js-sr_1
                  +stat-data('80%') преждевременных инфарктов и инсультов может быть предотвращено.
                +e.item.js-sr_1
                  +stat-data('5 лет **') Невылеченные и невыявленные пороки сердца являются главной причиной детской смертности (до 5 лет) во всем мире, обогнав смертность от СПИДа, малярии и туберкулеза.
                +e.item.js-sr_1
                  +stat-data('1 место *') Ишемическая болезнь сердца (12,2) и инсульт (9,7) занимают ведущие места по причинам смертности в мире.
                +e.item_note.js-sr_1
                  +stat-data('*')._note По данным Всемирной организации здравоохранения
                +e.item_note.js-sr_1
                  +stat-data('**')._note По данным Фонда
          +col({md: 12, xl: 4}).page__statistic-images
              +gallery
    +page-section.page__achievements
      .container
        +e.H3.title_smb.js-sr_1 Наши достижения
        +grid
          +col({ md: 12, xl: 8 }).js-sr_1
            +e.A.media_long.js-fancybox(href="assets/images/achievments-1.jpg")
              +e.IMG.image(src="assets/images/achievments-1.jpg")
            div.page__achievements-info-mobile.desktop-hide(data-fbm-place="achievements-info")
            div.page__achievements-stat-mobile.desktop-hide(data-fbm-place="achievements-stat")
            +text-block._stylized._stylized_black._small-mg
              +e.P В программах и миссиях Фонда задействовано около 120 специалистов со всего мира — 
                span(data-hidden-text="achievements") кардиохирурги, кардиологи, анестезиологи, реаниматологи, электрофизиологи, неонатологи, перфузиологи, бактериологи и многие другие специалисты.
              +e.P(data-hidden-text="achievements") Мы осуществили и осуществляем образовательную программу, включающую в себя мастер-классы по обмену опытом, консультации и обследования пациентов, доклады и лекции на актуальные темы.
          +col({ md: 12, xl: 4 }).mobile-hide
            div.page__achievements-stat(data-fbd-place="achievements-stat")
              +e.side-wrapper(data-float-block="achievements-stat")
                +e.side-title_bold.js-sr_2 За 17 лет работы фонда EurAsia Heart Foundation:
                +e.statistic.js-sr_2
                  +stat-data('3300')._achievment детей успешно прооперировано
                  +stat-data('13000')._achievment детей обследовано и назначена схема лечения
            div.page__achievements-stat(data-fbd-place="achievements-info")
              +e.side-wrapper(data-float-block="achievements-info")
                +text-block._big-style.js-sr_2 За последние 4 года усилиями Фонда было осуществлено свыше 1800 операций и проведено более 5000 консультаций в клиниках по всему миру.
        +text-switcher(data-target-text="achievements") Читать далее
    +page-section.page__partners
      .container
        +e.H3.title_smb.js-sr_1 Наши партнеры
        .grid
          +col({ md: 12, xl: 8 })
            +partners.js-sr_1
            +text-block._small-mg.mobile-hide.js-sr_1
              +e.P Специалисты нашего Фонда работали в 18 странах Европы и Азии. Мы проводим научную и исследовательскую деятельность, участвуем в разработках новейших методов лечения в области взрослой и детской сердечно-сосудистой хирургии и кардиологии.
            +e.H3.title.js-sr_1 Результаты работы Фонда
            +text-block._small-mg.js-sr_1
              +e.P Спасенные жизни и высокий профессионализм врачей на местах. Мы передаем знания, опыт, навыки и новые технологии коллегам и специалистам по всему миру. Мы развиваем эффективную, а не дорогостоящую инфраструктуру госпиталей. Благодаря этому повышается качество лечения и количество выздоровевших пациентов.
          +col({ md: 12, xl: 4 })
            +e.A.media_h452.js-fancybox.mobile-hide.js-sr_2(href="assets/images/achievments-2.jpg")
              +e.IMG.image(src="assets/images/achievments-2.jpg")
            +e.side-title_mt.js-sr_2 Документы
            +e.links.js-sr_2
              +download-link(href="assets/files/statement.doc" title="Учредительные документы") Учредительные документы
              +download-link(href="assets/files/statement.doc" title="Отчет") Отчет
    +page-section.page__members.js-sr_1
      .container
        div.page__members-wrapper
          +e.head
            +e.H3.title_style._big Люди фонда
            +e.media_wide
              +e.IMG.image(src="assets/images/members.jpg")
          +e.panel
            +e.A.panel-button_gold.js-popup(href="#experts")
              +e.side-title_bold Международная
                br
                | группа экспертов
              +link-arrow('div')._light Показать
            +e.panel-button.js-popup(href="#trustees")
              +e.side-title_bold Попечительский
                br
                | комитет
              +link-arrow('div')._light Показать
    +page-section._light.page__working
      .container
        +e.title.js-sr_1 Как мы работаем
        SECTION.page__working-describe
          +accordion-working
        SECTION.page__working-images
          +gallery-2
    +page-section.page__help
      .container
        +grid
          +col({ md: 12, xl: 6 })
            +e.title.js-sr_1 Как помочь детям?
            +text-block._small-mg.js-sr_1
              p В основе деятельности Фонда Сердце ЕврАзии (EurAsia Heart Foundation) — высокий профессионализм и преданность своему делу специалистов со всего мира, которые осуществляют свою миссию благодаря поддержке меценатов и благотворителей.
              p В числе наших донаторов — швейцарские и российские благотворители (пациенты и друзья Фонда из мира искусства и бизнеса), жертвователи благотворительных мероприятий. Также нас поддерживают сборы от проведения маркетинговых кампаний и представители индустрии.
            +informer.js-sr_2
          +col({ md: 12, xl: 6 }).mobile-hide(data-fbd-place="help")
            +text-block._frame.js-sr_1(data-float-block="help")
              p За годы существования Фонда Сердце ЕврАзии (EurAsia Heart Foundation) были прооперированы <b>3290 детей и подростков.</b> На лечение этих пациентов в Европе, где стоимость одной операции <b>80 - 150.000 евро,</b> понадобилось бы <b>240 млн евро.</b> Наши специалисты работают на благотворительной основе и осуществляют лечение на родине пациента. Собранные средства необходимы для покрытия затратной части проекта в расчете <b>5.000 – 10.000 евро</b> за операцию.
      +donation.js-sr_1
      .page__help-describe.desktop-hide(data-fbm-place="help")
    +founder.js-sr_1
    +footer.js-sr_1
  +popups
    +popup-news#news
    +popup-registration#registration
    +popup-contacts#contacts
    +popup-donation#donation
    +popup-focus#focus
    +popup-experts#experts
    +popup-trustees#trustees
    +popup-child#child
