extends ../../layouts/default

block head
  - var pageTitle = 'Фонд Сердце ЕврАзии'

block content
  +header
  .overlay
  +b.page
    +main
    +page-section._light.__mission
      .container
        +grid
          +col({ md: 12, xl: 6 })
            +text-block._stylized
              +e.P Наша главная задача — повышение квалификации и обучение специалистов в сфере кардиологии и сердечно-сосудистой хирургии новорождённых, детей и взрослых. Мы реализуем эту задачу посредством тесного сотрудничества <br> швейцарских и российских специалистов.
              +e.P(data-hidden-text="mission")
                +e.B Наша миссия —&nbsp;
                | сохранение здоровья молодого поколения и предотвращение преждевременной смертности детей и подростков из-за сердечно-сосудистых заболеваний.
          +col({ md: 12, xl: 6 })(data-hidden-text="mission")
            +text-block
              +e.P
                +e.B Наша цель —&nbsp;
                | спасти как можно больше детей. В этом нам помогает налаженная система передачи медицинских знаний в области диагностики, лечения и профилактики сердечно-сосудистых заболеваний, а также практических навыков в кардиологии, хирургии и ряде смежных специальностей.
        +text-switcher(data-target-text="mission") Наша миссия
    +patients
    +page-section._dark._small.__focus
      .container
        +e.title_style._small Россия
        +grid
          +col({ md: 12, xl: 8 })
            +text-block._small-mg
              p – один из самых перспективных партнеров Фонда. Поддержка Президента и правительства, реализующаяся в национальном российском проекте «Здоровье» в сочетании с международной образовательной и научной деятельностью Сердца ЕврАзии может вывести российские федеральные центры сердечно-сосудистой хирургии на мировой уровень и прекратить отток пациентов за границу.
              p(data-hidden-text="focus") С 2005 года Фонд сотрудничает с российскими партнерами. Миссии проходят в Санкт-Петербурге, Новосибирске, Екатеринбурге, Пензе, Петрозаводске, Томске, Ярославле, Воронеже. В числе партнерских организаций Фонда — Первый Санкт-Петербургский государственный медицинский университет им. академика И.П. Павлова, Военно-медицинская академия, Санкт-Петербургский Государственный Педиатрический Медицинский Университет, Новосибирский Институт Патологии Кровообращения им. Е.Н. Мешалкина, Томский центр детского сердца РАН, Ярославский медицинский университет и др.
            +text-switcher(data-target-text="focus") Россия
          +col({md: 12, xl: 4})(data-fbd-place="focus").mobile-hide
            +focus(data-float-block="focus")
    +page-section._dark._map.__map
      .container
        +e.subtitle.desktop-hide Фонд активно работает
      +map
      +e.map-describe
        .container
          +grid
            +col({ md: 12, xl: 8 })
              +text-block
                p.desktop-hide а также в Украине, Узбекистане, Армении, Болгарии, Камбодже, Эритрее и Вьетнаме.
                p По запросам руководства заинтересованных в сотрудничестве с Фондом стран Сердце ЕврАзии занимается образованием и обучением персонала непосредственно в лечебных учреждениях: получение практических знаний, технических навыков и их применение в операционных, а также в отделениях кардиореанимаций.
            +col({md: 12, xl: 4})
              +e.accent.mobile-hide
                +text-block._big-style
                  p Фонд активно работает в России, Украине, Узбекистане, Армении, Болгарии, Мьянме, Камбодже, Китае, Эритрее и Вьетнаме
        +e.mobile-focus.desktop-hide(data-fbm-place="focus")
    +page-section._light.page__statistic
      .container
        +e.H3.title Статистика
        +grid
          +col({ md: 12, xl: 8 }).page__statistic-data
            +statistic-list
              +e.UL.list
                +e.item
                  +stat-data('17,5 млн') Ежегодно от сердечно-сосудистых заболеваний умирает 17,5 млн человек
                +e.item
                  +stat-data('80%') преждевременных инфарктов и инсультов может быть предотвращено
                +e.item
                  +stat-data('5 лет **') Невылеченные и невыявленные пороки сердца являются главной причиной детской смертности (до 5 лет) во всем мире, обогнав смертность от СПИДа, малярии и туберкулеза
                +e.item
                  +stat-data('1 место *') Ишемическая болезнь сердца (12,2) и инсульт (9,7) занимают ведущие места по причинам смерти в мире.
                +e.item_note
                  +stat-data('*')._note По данным Всемирной организации здравоохранения
                +e.item_note
                  +stat-data('**')._note По данным Фонда                
          +col({md: 12, xl: 4}).page__statistic-images
              +gallery
    +page-section.page__achievements
      .container
        +e.H3.title_smb Наши достижения
        +grid
          +col({ md: 12, xl: 8 })
            +e.A.media_long.js-fancybox(href="assets/images/achievments-1.jpg") 
              +e.IMG.image(src="assets/images/achievments-1.jpg")
            div.page__achievements-info-mobile.desktop-hide(data-fbm-place="achievements-info")
            div.page__achievements-stat-mobile.desktop-hide(data-fbm-place="achievements-stat")
            +text-block._stylized._stylized_black._small-mg
              +e.P Впрограммах и&nbsp;миссиях Фонда задействовано около 120 специалистов со&nbsp;всего мира&nbsp;&mdash;
                span(data-hidden-text="achievements") кардиохирурги, кардиологи, анестезиологи, реаниматология, электрофизиологией, неонатологи, перфузиологи, бактериологи и&nbsp;многие другие специалисты.
              +e.P(data-hidden-text="achievements") Мы&nbsp;осуществили и&nbsp;осуществляем образовательную программу, включающую в&nbsp;себя мастер-классы по&nbsp;обмену опытом, консультации и&nbsp;обследования пациентов, доклады и&nbsp;лекции на&nbsp;актуальные темы.
          +col({ md: 12, xl: 4 }).mobile-hide
            div.page__achievements-stat(data-fbd-place="achievements-stat")
              +e.side-wrapper(data-float-block="achievements-stat")
                +e.side-title_bold За 17 лет напряженной работы фонд EurAsia Heart Foundation:
                +e.statistic
                  +stat-data('3300')._achievment детей успешно прооперировано
                  +stat-data('13000')._achievment детей обследовано и назначена им схема лечения
            div.page__achievements-stat(data-fbd-place="achievements-info")
              +e.side-wrapper(data-float-block="achievements-info")
                +text-block._big-style За последние 4 года
                  span.desktop-hide усилиями Фонда&nbsp;
                  | было осуществлено свыше 1800 операций и проведено более 5000 консультаций в клиниках по всему миру.
        +text-switcher(data-target-text="achievements") Читать далее
    +page-section.page__partners  
      .container
        +e.H3.title_smb Наши партнеры
        .grid
          +col({ md: 12, xl: 8 })
            +partners
            +text-block._small-mg.mobile-hide
              +e.P Специалисты нашего Фонда работали в&nbsp;18&nbsp;странах Европы и&nbsp;Азии. Сегодня мы&nbsp;осуществляем научную и&nbsp;исследовательскую деятельность, участвуем в&nbsp;разработках новейших методов лечения в&nbsp;области взрослой и&nbsp;детской сердечно-сосудистой хирургии и&nbsp;кардиологии.
            +e.H3.title Результаты работы Фонда
            +text-block._small-mg
              +e.P Спасенные жизни и&nbsp;высокий профессионализм врачей на&nbsp;местах. Мы&nbsp;передаем знания, опыт, навыки и&nbsp;новые технологии коллегам и&nbsp;специалистам по&nbsp;всему миру. Мы&nbsp;развиваем эффективную, а&nbsp;не&nbsp;дорогостоящую инфраструктуру госпиталей. Благодаря этому повышается качество лечения и&nbsp;количество выздоровевших пациентов.
          +col({ md: 12, xl: 4 })
            +e.A.media_h452.js-fancybox.mobile-hide(href="assets/images/achievments-2.jpg") 
              +e.IMG.image(src="assets/images/achievments-2.jpg")
            +e.side-title_mt Документы
            +e.links 
              +download-link(href="assets/files/statement.doc" title="Учредительные документы") Учредительные документы
              +download-link(href="assets/files/statement.doc" title="Отчет") Отчет
    +page-section.page__members
      .container
        div.page__members-wrapper
          +e.head
            +e.H3.title_style._big Люди фонда
            +e.media_wide
              +e.IMG.image(src="assets/images/members.jpg")
          +e.panel 
            +e.panel-button_gold
              +e.side-title_bold Международная
                br
                | группа экспертов
              +link-arrow(href="#experts")._light.js-popup Показать
            +e.panel-button
              +e.side-title_bold Попечительский
                br 
                | комитет
              +link-arrow(href="#trustees")._light.js-popup Показать
    +page-section._light.page__working
      .container
        +e.title Как мы работаем
        SECTION.page__working-describe
          +accordion-working
        SECTION.page__working-images
          +gallery-2
  +popups
    +popup-news#news
    +popup-registration#registration
    +popup-contacts#contacts
    +popup-donation#donation
    +popup-focus#focus
    +popup-experts#experts
    +popup-trustees#trustees
