extends ../../layouts/default

block head
  - var pageTitle = 'Фонд Сердце ЕврАзии'

block content
  +header
  .overlay
  +b.page
    +main
    +page-section._light.__mission
      .container
        +grid
          +col({ sm: 12, xl: 6 })
            +text-block._stylized
              +e.P Наша главная задача — повышение квалификации и обучение специалистов в сфере кардиологии и сердечно-сосудистой хирургии новорождённых, детей и взрослых. Мы реализуем эту задачу посредством тесного сотрудничества <br> швейцарских и российских специалистов.
              +e.P(data-hidden-text="mission")
                +e.B Наша миссия —&nbsp;
                | сохранение здоровья молодого поколения и предотвращение преждевременной смертности детей и подростков из-за сердечно-сосудистых заболеваний.
          +col({ sm: 12, xl: 6 })(data-hidden-text="mission")
            +text-block
              +e.P
                +e.B Наша цель —&nbsp;
                | спасти как можно больше детей. В этом нам помогает налаженная система передачи медицинских знаний в области диагностики, лечения и профилактики сердечно-сосудистых заболеваний, а также практических навыков в кардиологии, хирургии и ряде смежных специальностей.
        +text-switcher(data-target-text="mission") Наша миссия
    +patients
    +page-section._dark._small
      .container
        +e.column_left
          +e.title_style._small Россия
          +text-block
            p – один из самых перспективных партнеров Фонда. Поддержка Президента и правительства, реализующаяся в национальном российском проекте «Здоровье» в сочетании с международной образовательной и научной деятельностью Сердца ЕврАзии может вывести российские федеральные центры сердечно-сосудистой хирургии на мировой уровень и прекратить отток пациентов за границу.
            p(data-hidden-text="focus") С 2005 года Фонд сотрудничает с российскими партнерами. Миссии проходят в Санкт-Петербурге, Новосибирске, Екатеринбурге, Пензе, Петрозаводске, Томске, Ярославле, Воронеже. В числе партнерских организаций Фонда — Первый Санкт-Петербургский государственный медицинский университет им. академика И.П. Павлова, Военно-медицинская академия, Санкт-Петербургский Государственный Педиатрический Медицинский Университет, Новосибирский Институт Патологии Кровообращения им. Е.Н. Мешалкина, Томский центр детского сердца РАН, Ярославский медицинский университет и др.
          +text-switcher(data-target-text="focus") Россия
        +e.column_right(data-fbd-place="focus")
          +focus(data-float-block="focus")
        // +info-block
    +page-section._dark._map
      +e.title.desktop-hide Фонд активно работает
      +map
      +e.map-describe
        .container
          +e.column_left
            +text-block
              p.desktop-hide а также в Украине, Узбекистане, Армении, Болгарии, Камбодже, Эритрее и Вьетнаме.
              p По запросам руководства заинтересованных в сотрудничестве с Фондом стран Сердце ЕврАзии занимается образованием и обучением персонала непосредственно в лечебных учреждениях: получение практических знаний, технических навыков и их применение в операционных, а также в отделениях кардиореанимаций.
          +e.column_right
            +text-block._big-style.mobile-hide
              p Фонд активно работает в России, Украине, Узбекистане, Армении, Болгарии, Мьянме, Камбодже, Китае, Эритрее и Вьетнаме
          +e.mobile-focus.desktop-hide(data-fbm-place="focus")
    +page-section._light
      .container
        +e.H3.title Статистика
        +grid
          +col(8)
            +statistic-list
              +e.UL.list
                +e.item
                  +stat-data('17,5 млн') Ежегодно от сердечно-сосудистых заболеваний умирает 17,5 млн человек
                +e.item
                  +stat-data('80%') преждевременных инфарктов и инсультов может быть предотвращено
                +e.item
                  +stat-data('5 лет **') Невылеченные и невыявленные пороки сердца являются главной причиной детской смертности (до 5 лет) во всем мире, обогнав смертность от СПИДа, малярии и туберкулеза
                +e.item
                  +stat-data('1 место *') Ишемическая болезнь сердца (12,2) и инсульт (9,7) занимают ведущие места по причинам смерти в мире.
                +e.item_note
                  +stat-data('**')._note По данным Фонда
                +e.item_note
                  +stat-data('*')._note По данным Всемирной организации здравоохранения
          +col(4)
            +gallery
    +page-section
      .container
        +grid
          +col(8)
            +e.H3.title Наши достижения
            +text-block._stylized._stylized_black
              +e.P Впрограммах и&nbsp;миссиях Фонда задействовано около 120 специалистов со&nbsp;всего мира&nbsp;&mdash; кардиохирурги, кардиологи, анестезиологи, реаниматология, электрофизиологией, неонатологи, перфузиологи, бактериологи и&nbsp;многие другие специалисты.
              +e.P Мы&nbsp;осуществили и&nbsp;осуществляем образовательную программу, включающую в&nbsp;себя мастер-классы по&nbsp;обмену опытом, консультации и&nbsp;обследования пациентов, доклады и&nbsp;лекции на&nbsp;актуальные темы.
            +e.H3.title Наши партнеры
            +text-block
              +e.P Специалисты нашего Фонда работали в&nbsp;18&nbsp;странах Европы и&nbsp;Азии. Сегодня мы&nbsp;осуществляем научную и&nbsp;исследовательскую деятельность, участвуем в&nbsp;разработках новейших методов лечения в&nbsp;области взрослой и&nbsp;детской сердечно-сосудистой хирургии и&nbsp;кардиологии.
              +e.P Результаты работы Фонда&nbsp;&mdash; спасенные жизни и&nbsp;высокий профессионализм врачей на&nbsp;местах. Мы&nbsp;передаем знания, опыт, навыки и&nbsp;новые технологии коллегам и&nbsp;специалистам по&nbsp;всему миру. Мы&nbsp;развиваем эффективную, а&nbsp;не&nbsp;дорогостоящую инфраструктуру госпиталей. Благодаря этому повышается качество лечения и&nbsp;количество выздоровевших пациентов.
          +col(4)
    +page-section._dark
      .container
        +grid.page-section__top
          +col(3)
            +e.H3.title_style._big Люди фонда
          +col(3)
            +person('assets/images/member-1.jpg', 'Пауль Фогт')
              +e.short-info Учредитель Фонда Ведущий кардиохирург Швейцарии
          +col(3)
            +person('assets/images/member-2.jpg', 'Герхард Шредер')
              +e.short-info Сопредседатель Попечительского Совета Фонда, Экс-канцлер Германии
          +col(3)
            +person('assets/images/member-3.jpg', 'Дёлф Оги')
              +e.short-info Сопредседатель Попечительского Совета Фонда, Экс-президент Швейцарии
        +accordions(true)
          +accordion-experts
          +accordion-trustees
  +popups
    +popup-news#news
    +popup-registration#registration
    +popup-contacts#contacts
    +popup-donation#donation
    +popup-focus#focus
    +popup-experts#experts
    +popup-trustees#trustees
