.button {
  display: inline-block;
  padding: 13px 20px;
  border: 1px solid $color-dirt;
  border-bottom-width: 2px;
  vertical-align: middle;
  text-align: center;
  box-sizing: border-box;
  color: $color-white;
  background-color: transparent;
  transition: opacity $ease-main;
  cursor: pointer;

  @include text-small;
  line-height: 1.17;
  letter-spacing: .03em;
  font-family: $font-fourth;
  font-weight: 700;

  &:disabled,
  &.is-disabled {
    opacity: .5;
    cursor: not-allowed;
  }

  &:hover,
  &.is-active { opacity: .5; }

  &_dark {
    color: $color-basic;
  }
}
