mixin popup-experts()
  +popup('Международная группа экспертов')._memb.popup-experts__&attributes(attributes)
    +popup-title.tablet-hide Международная группа экспертов
    +grid.grid_members 
      +col({ sm: 12, md: 6, xl: 4 })
        +person('assets/images/member-4.jpg', 'Хубулава Геннадий Григорьевич')
          +e.short-info Главный кардиохирург СЗФО, заведующий кафедрой факультетской хирургии, кардиохирург, академик РАН, доктор медицинских наук
      +col({ sm: 12, md: 6, xl: 4 })
        +person('assets/images/member-5.jpg', 'Марченко Сергей Павлович')
          +e.short-info Кардиохирург, доктор медицинских наук
      +col({ sm: 12, md: 6, xl: 4 })
        +person('assets/images/member-6.jpg', 'Селивёрстова Анастасия Алексеевна')
          +e.short-info Известный cпециалист в неонатальной и детской кардиологии, эхокардиографии. Неоднократно стажировалась в ведущих европейских клиниках
      +col({ sm: 12, md: 6, xl: 4 })
        +person('assets/images/member-7.jpg', 'Чупаева Ольга Юрьевна')
          +e.short-info Неонатолог, детский кардиолог. Известный специалист в эхокардиографической диагностике врожденных пороков сердца, гемодинамики, острой сердечной недостаточности, детской кардиореаниматологии, анестезиологии, экстракорпоральной мембранной оксигенации
      +col({ sm: 12, md: 6, xl: 4 })
        +person('assets/images/member-8.jpg', 'Алексей Борисович Наумов')
          +e.short-info Кандидат медицинских наук. Известный специалист в вопросах гемодинамики, острой сердечной недостаточности, детской кардиореаниматологии, анестезиологии, экстракорпоральной мембранной оксигенации
      +col({ sm: 12, md: 6, xl: 4 })
        +person('assets/images/member-9.jpg', 'Нев&shy;мер&shy;жиц&shy;кая Оксана Вла&shy;ди&shy;ми&shy;ров&shy;на')
          +e.short-info Неонатолог, кандидат медицинских наук. Обладает клиническим опытом в неонатологии, ведении беременности и является известным специалистом по контролю качества оказания медицинской помощи
      +col({ sm: 12, md: 6, xl: 4 })
        +person('assets/images/member-1.jpg', 'Пауль Р. Фогт (Paul Vogt)')
          +e.short-info Кардиохирург, профессор университетской клиники Цюриха, Щвейцария
      +col({ sm: 12, md: 6, xl: 4 })
        +person('assets/images/member-11.jpg', 'Дитрих Клаувер  (Dietrich Klauwer)')
          +e.short-info Известный специалист по вопросам неонатальной кардиологии, кардиореаниматологии, эхокардиографии у детей с врожденными пороками сердца. По монографиям Д. Клаувера учатся специалисты в детской кардиореанимации по всему миру, Швейцария
      +col({ sm: 12, md: 6, xl: 4 })
        +person('assets/images/member-12.jpg', 'Сабина Дэбриц  (Sabine Daebritz)')
          +e.short-info Кардиохирург, профессор, Клиника им Парк, Швейцария
