mixin main()
  +b.SECTION.main&attributes(attributes)
    +e.SECTION.content
      +e.bg
        +e.image(src="assets/images/main.jpg")
      +e.top
        +link-language('assets/images/english.png')._light.__language(href="www.eurasiaheart.ch/en") English
      +e.middle
        +e.subtitle EurAsia Heart Foundation
      +e.bottom
        +e.col_left
          +e.H1.title Российско-швейцарский фонд Сердце ЕврАзии
          +e.text Благотворительная гуманитарная организация, специализирующаяся на лечении тяжелых пороков сердца и сердечно-сосудистых заболеваний у детей из Европы и Азии.
        +e.col_right
          +play(href="https://youtu.be/Cq9oYRRQeOc").js-fancybox
          +link._light(href="https://youtu.be/Cq9oYRRQeOc").__play Смотреть видео
    +e.ASIDE.news
      +e.wrapper.js-scrollbar
