.contacts {
  display: block;

  &__item {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 44px;
    }
  }

  &__name {
    @include text;
    line-height: 1.45;
    margin-bottom: 6px;
  }

  &__link {
    @include text-large;
    font-family: $font-third;
    line-height: 1.17;
    font-weight: 700;
  }
}
