@import '../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.css';

.popups {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: all $ease-main;
  transform: translate3d(100%, 0, 0);
  background-color: $color-white;
  z-index: 120;
  pointer-events: none;

  @include screen('desktop-small') {
    width: 62.5vw;
  }

  &.is-active {
    transform: translate3d(0, 0, 0);
    pointer-events: all;

    .popups__close {
      opacity: 1;
      pointer-events: all;
    }
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
    z-index: 12;

    @include screen('desktop-small') {
      top: 0;
      left: -65px;
      right: auto;
    }
  }

  &__wrapper {
    width: 100%;
    max-height: 100%;
  }
}

.popup {
  display: none;
  box-sizing: border-box;
  padding: 0 $container-padding-mobile 15vw;
  min-height: 100%;

  @include screen('desktop-wide') {
    padding: 6.67vw;
  }

  &__header {
    width: calc(100% + 2 * 6.875vw);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    background-color: $color-white;
    padding: 22px $container-padding-mobile;
    margin-left: -$container-padding-mobile;
    margin-right: -$container-padding-mobile;
    border-bottom: 1px solid $color-border;
    margin-bottom: 38px;

    @include screen('desktop-small') {
      display: none;
      margin-bottom: 0;
    }
  }

  &__mobile-title {
    @include text-small;

    font-family: $font-fourth;
    letter-spacing: .029em;
    font-weight: 700;
  }

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;

    @include heading-3;

    font-weight: 700;
    font-family: $font-second;
    margin-bottom: 32px;
    line-height: 1.02;

    @include screen('desktop-small') {
      @include heading-big;

      line-height: 1.02;
      font-weight: 700;
      margin-bottom: 47px;
      // margin-bottom: 6.25vw;
      margin-bottom: 3.2vw;
    }
  }

  &__title-icon {
    width: 83px;
    height: 78px;
    fill: $color-main;
    margin-bottom: 52px;

    @include screen('desktop-small', max) {
      display: none;
    }
  }

  &__title-text {
    width: 100%;
  }

  &_memb {
    @include screen('desktop-wide') {
      padding: 6.2vw 6.67vw;
    }

    .popup__title {
      @include screen('desktop-wide') {
        margin-bottom: 57px;
      }
    }

    .popup__header {
      margin-bottom: 24px;

      @include screen('desktop-small') {
        margin-bottom: 0;
      }
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: all $ease-main;
  z-index: 110;
  background-color: rgba($color-overlay, .24);

  &.is-active {
    opacity: 1;
    pointer-events: all;
  }
}

.fancybox-close-small:focus::after { outline: none; }

.fancybox-enabled { overflow: initial; }

.fancybox-is-open .fancybox-bg {
  opacity: .24;
}

.fancybox-bg {
  background-color: $color-overlay;
}

.video-popup {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  background-color: $color-basic;
  padding: 0 !important;
}
