mixin popups()
  +b.popups&attributes(attributes)
    +close.__close.js-popup-close
    +e.wrapper.js-scrollbar
      block

mixin popup()
  +b.popup&attributes(attributes)
    block

mixin popup-title(icon)
  h3.popup__title&attributes(attributes)
    if icon
      +icon(icon)(class=" popup__title-icon")
    .popup__title-text
      block
