@mixin gradient-main {
  background: linear-gradient(0deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, 0));
}

@mixin gradient-main-mobile {
  background: linear-gradient(0deg, rgba($color-dark-grey, 1) 0%, rgba($color-dark-grey, 1) 20%, rgba($color-dark-grey, 0) 100%);
}

@mixin gradient-second {
  background: linear-gradient(0deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}
