@mixin list {
  @include text;

  line-height: 1.45;

  ul, ol {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  li {
    padding-left: 20px;
    position: relative;

    @include screen('tablet-wide') {
      padding-left: 36px;
    }
  }
}

@mixin ullist {

  li::before {
    position: absolute;
    left: 0;
    top: 0;
    content: '•';

    @include screen('tablet-wide') {
      left: 10px;
    }
  }
}

@mixin ollist {
  counter-reset: list1;

  li {

    &::before {
      position: absolute;
      left: 0;
      top: 0;
      counter-increment: list1;
      content: counter(list1) '.';
    }
  }
}
