.reg-button {
  position: relative;
  display: block;
  width: 240px;
  padding-top: 100%;
  background-color: $color-main;
  transition: all $ease-main;

  @include screen('tablet-wide') {
    width: 18.75vw;
  }

  &::before {
    @include pseudo;

    top: -12px;
    left: -12px;
    right: -12px;
    bottom: -12px;
    border: 1px solid rgba($color-main, .36);
    z-index: 1;
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }

  &__icon {
    width: 83px;
    height: 78px;
    fill: $color-white;
    margin-bottom: 23px;
  }

  &__text {
    @include text-big;

    font-family: $font-fourth;
    text-align: center;
    color: $color-white;
    box-sizing: border-box;
    padding: 0 15px;

    b {
      display: block;
      font-weight: 700;
      margin-bottom: 2px;
    }

    span {
      letter-spacing: .018em;
      font-weight: 300;
    }
  }

  &:hover {
    opacity: .7;
  }
}
