.popup-contacts {
  padding-bottom: 12.5vw;
  height: 100vh;

  @include screen('desktop-small') {
    padding-bottom: 15.2vh;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    height: calc(100% - 105px);

    @include screen('desktop-small') {
      height: 100%;
    }
  }
}
