.child-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;

  &__item {
    margin-left: $container-padding-mobile;

    @include screen('tablet-wide') {
      margin-left: 3.125vw;
    }

    &:not(:last-child) {
      margin-bottom: $container-padding-mobile;

      @include screen('tablet-wide') {
        margin-bottom: 30px;
      }
    }
  }
}
