.popup-registration {

  .popup__title {
    margin-bottom: 14px;

    @include screen('tablet-wide') {
      margin-bottom: 50px;
    }
  }

  .content-zone {
    margin-bottom: 130px;

    @include screen('tablet-small', max) {
      @include text-small;
      margin-bottom: 41px;
    }

    p {
      line-height: 1.5;

      @include screen('tablet-small') {
        line-height: 1.45;
      }
    }
  }

  &__documents {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    align-content: flex-start;
    box-sizing: border-box;

    .download-link {
      margin-bottom: 12px;
      width: 100%;

      @include screen('phone') {
        width: 276px;
        margin-right: 12px;
      }

      @include screen('tablet-wide') {
        margin-right: 24px;
        margin-bottom: 24px;
        width: 150px;
      }
    }
  }
}
