mixin founder()
  +page-section._dark.founder__&attributes(attributes)
    +e.bg(style="background-image: url('assets/images/interview.jpg')")
    .container
      +e.content
        +e.title.page-section__title Пауль Фогт
        +e.text Основная проблема открывающихся по всему миру центров — отсутствие опытных кардиохирургов. Невозможно научиться кардиохирургии по учебникам. Нужно обязательно перенимать опыт вживую, чтобы самому начать оперировать успешно.
        +e.IMG.signature(src="assets/images/signature.png")
      
