.content-zone {

  h1 {

    &:not(:first-child) {
      margin-top: 20px;

      @include screen('tablet-wide') {
        margin-top: 48px;
      }
    }

    &:not(:last-child) {
      margin-bottom: 17px;

      @include screen('tablet-wide') {
        margin-bottom: 32px;
      }
    }

    @include heading-2;

    font-family: $font-fourth;
    font-weight: 700;

    @include screen('tablet-wide') {
      @include heading-1;

      font-weight: 700;
    }
  }

  h2 {

    &:not(:first-child) {
      margin-top: 20px;

      @include screen('tablet-wide') {
        margin-top: 48px;
      }
    }

    &:not(:last-child) {
      margin-bottom: 17px;

      @include screen('tablet-wide') {
        margin-bottom: 32px;
      }
    }

    @include heading-3;

    font-family: $font-fourth;
    font-weight: 700;

    @include screen('tablet-wide') {
      @include heading-2;

      font-weight: 700;
    }
  }

  h3 {

    &:not(:first-child) {
      margin-top: 20px;

      @include screen('tablet-wide') {
        margin-top: 48px;
      }
    }

    &:not(:last-child) {
      margin-bottom: 17px;

      @include screen('tablet-wide') {
        margin-bottom: 32px;
      }
    }

    @include heading-4;

    font-family: $font-fourth;
    font-weight: 700;

    @include screen('tablet-wide') {
      @include heading-3;

      font-weight: 700;
    }
  }

  h4 {

    &:not(:first-child) {
      margin-top: 20px;

      @include screen('tablet-wide') {
        margin-top: 48px;
      }
    }

    &:not(:last-child) {
      margin-bottom: 17px;

      @include screen('tablet-wide') {
        margin-bottom: 32px;
      }
    }

    @include heading-5;

    font-family: $font-fourth;
    font-weight: 700;

    @include screen('tablet-wide') {
      @include heading-4;

      font-weight: 700;
    }
  }

  h5 {

    &:not(:first-child) {
      margin-top: 20px;

      @include screen('tablet-wide') {
        margin-top: 48px;
      }
    }

    &:not(:last-child) {
      margin-bottom: 17px;

      @include screen('tablet-wide') {
        margin-bottom: 32px;
      }
    }

    @include heading-6;

    font-family: $font-fourth;
    font-weight: 700;
    letter-spacing: .029em;

    @include screen('tablet-wide') {
      @include heading-5;

      font-weight: 700;
      letter-spacing: normal;
    }
  }

  h6 {

    &:not(:first-child) {
      margin-top: 20px;

      @include screen('tablet-wide') {
        margin-top: 48px;
      }
    }

    &:not(:last-child) {
      margin-bottom: 17px;

      @include screen('tablet-wide') {
        margin-bottom: 32px;
      }
    }

    @include text-mobile;

    font-family: $font-fourth;
    font-weight: 700;

    @include screen('tablet-wide') {
      @include heading-6;

      font-weight: 700;
      letter-spacing: .029em;
    }
  }

  p {

    &:not(:last-child) {
      margin-bottom: $grid-gap;

      @include screen('tablet-wide') {
        margin-bottom: 30px;
      }
    }

    small {
      display: block;

      @include text-mobile-small;

      @include screen('tablet-wide') {
        @include text-small;
      }
    }

    @include text-small;

    line-height: 1.5;

    @include screen('tablet-wide') {
      @include text;

      line-height: 1.45;
    }
  }

  blockquote {
    margin: 0;
    padding-left: 40px;
    border-left: 2px solid black;
    display: block;

    &:not(:first-child) {
      margin-top: 30px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  img {
    max-width: 100%;

    &:not(:first-child) {
      margin-top: 30px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  > ul, > ol {

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  ul, ol {
    @include list;
    @include text-small;

    line-height: 1.47;

    @include screen('tablet-wide') {
      @include text;

      line-height: 1.45;
    }

    li {

      &:not(:last-child) {
        margin-bottom: $grid-gap;

        @include screen('tablet-wide') {
          margin-bottom: 30px;
        }
      }
    }
  }

  ul { @include ullist; }

  ol { @include ollist; }

  a { @include link-dirt; }

  &_no-mg {

    p {

      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }
}
