.content-zone {

  h1 {

    &:not(:first-child) {
      margin-top: 48px;
    }

    &:not(:last-child) {
      margin-bottom: 32px;
    }

    @include heading-1;
    font-family: $font-fourth;
    font-weight: 700;
  }

  h2 {

    &:not(:first-child) {
      margin-top: 48px;
    }

    &:not(:last-child) {
      margin-bottom: 32px;
    }

    @include heading-2;
    font-family: $font-fourth;
    font-weight: 700;
  }

  h3 {

    &:not(:first-child) {
      margin-top: 48px;
    }

    &:not(:last-child) {
      margin-bottom: 32px;
    }

    @include heading-3;
    font-family: $font-fourth;
    font-weight: 700;
  }

  h4 {

    &:not(:first-child) {
      margin-top: 48px;
    }

    &:not(:last-child) {
      margin-bottom: 32px;
    }

    @include heading-4;
    font-family: $font-fourth;
    font-weight: 700;
  }

  h5 {

    &:not(:first-child) {
      margin-top: 48px;
    }

    &:not(:last-child) {
      margin-bottom: 32px;
    }

    @include heading-5;
    font-family: $font-fourth;
    font-weight: 700;
  }

  h6 {

    &:not(:first-child) {
      margin-top: 48px;
    }

    &:not(:last-child) {
      margin-bottom: 32px;
    }

    @include heading-6;
    font-family: $font-fourth;
    font-weight: 700;
  }

  p {
    &:not(:last-child) {
      margin-bottom: 10px;
    }

    small {
      display: block;

      @include text-small;
    }

    @include text;
    line-height: 1.45;
  }

  blockquote {
    margin: 0;
    padding-left: 40px;
    border-left: 2px solid black;
    display: block;

    &:not(:first-child) {
      margin-top: 30px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  img {
    max-width: 100%;

    &:not(:first-child) {
      margin-top: 30px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  > ul, > ol {

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  ul, ol { @include list; }

  ul { @include ullist; }

  ol { @include ollist; }

  a { @include link-dirt; }

  &_no-mg {

    p {
      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }
}
