.partners {
  display: block;
  width: 100%;
  margin-bottom: 41px;

  @include screen('tablet-wide') {
    margin-bottom: 37px;
  }

  &__item {
    display: block;
    width: 100%;
    border: 1px solid $color-border;
    padding: 14px 22px;
    box-sizing: border-box;

    @include text-small;

    font-family: $font-fourth;
    font-weight: 300;
    line-height: 1.65;
    letter-spacing: .024em;
    color: $color-basic;

    @include screen('tablet-wide') {
      padding: 19px 135px 23px 30px;

      @include text-big;

      font-weight: 300;
      line-height: 1.33;
    }

    &:not(:last-child) {
      border-bottom: none;
    }

    &[data-visible] {
      display: none;
    }

    &[data-visible='always'] {
      display: block;
    }
  }

  &__visible-list {
    display: block;
    width: 100%;
  }

  &__hidden-list {
    width: 100%;
    display: none;
  }

  &__switcher {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 19px 18px;
    background-color: $color-bg;
    box-sizing: border-box;
    color: $color-dirt;
    cursor: pointer;
    transition: background $ease-main;

    @include text-small;

    font-family: $font-fourth;
    font-weight: 700;
    letter-spacing: .029em;

    @include screen('tablet-wide') {
      padding: 24px 30px 25px;
    }

    &:hover, &.active {
      background-color: $color-main;
      color: $color-white;
    }

    &.active {

      .partners__toggle {
        transform: rotate(270deg);
      }
    }
  }

  &__text {
    transition: color $ease-main;
  }

  &__toggle {
    width: 24px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transform: rotate(90deg);
    margin-left: 10px;
    margin-right: -6px;
    transition: transform $ease-main;

    @include screen('phone-wide', max) {
      display: none;
    }
  }

  &__icon {
    width: 7.1px;
    height: 11.4px;
    fill: currentColor;
    transition: all $ease-main;
  }
}
