mixin partners()
  +b.partners&attributes(attributes)
    +e.visible-list
      +e.item(data-visible="always") Венский Университетский Госпиталь, Австрия
      +e.item(data-visible="always") Йельская Медицинская Школа, Нью-Хейвен, США
      +e.item(data-visible="always") Детский Госпиталь Цюрих, Швейцария
      +e.item(data-visible="desktop") Детский Университетский Госпиталь Базель, Швейцария
      +e.item(data-visible="desktop") Клиника Harley Street Лондон, Великобритания
      +e.item(data-visible="none") Немецкий Детский Сердечный Центр St. Augustin в Боне, Германия
      +e.item(data-visible="none") Медицинский университет Сайтама, Япония
      +e.item(data-visible="none") Кливлендская Клиника, Огайо, США
      +e.item(data-visible="none") Эпворт Восточная больница Мельбурн, Австралия
      +e.item(data-visible="none") Военная медицинская академия, Санкт-Петербург, Россия
      +e.item(data-visible="none") Санкт-Петербургский Педиатрический Медицинский Университет, Россия
      +e.item(data-visible="none") Петрозаводский Университет, Россия
      +e.item(data-visible="none") Институт Мешалкина, Новосибирск, Россия
      +e.item(data-visible="none") Федеральный Медицинский Центр, Пермь, Россия
      +e.item(data-visible="none") Ярославская Государственная Медицинская Академия, Ярославль, Россия
      +e.item(data-visible="none") Университетская Больница Св. Марина, Варна, Болгария
    +e.switcher.js-switch-visibility
      +e.text Показать еще 11 партнеров
      +e.toggle
        +icon('arrow-small').icon
