mixin partners()
  +b.partners&attributes(attributes)
    +e.visibl-list
    +e.hidden-list
      +e.item(data-index="1") Венский Университетский Госпиталь, Австрия
      +e.item(data-index="2") Йельская Медицинская Школа, Нью-Хейвен, США
      +e.item(data-index="3") Детский Госпиталь Цюрих, Швейцария
      +e.item(data-index="4") Детский Университетский Госпиталь Базель, Швейцария
      +e.item(data-index="5") Клиника Harley Street Лондон, Великобритания
      +e.item(data-index="6") Немецкий Детский Сердечный Центр St. Augustin в Боне, Германия
      +e.item(data-index="7") Медицинский университет Сайтама, Япония
      +e.item(data-index="8") Кливлендская Клиника, Огайо, США
      +e.item(data-index="9") Эпворт Восточная больница Мельбурн, Австралия
      +e.item(data-index="10") Военная медицинская академия, Санкт-Петербург, Россия
      +e.item(data-index="11") Санкт-Петербургский Педиатрический Медицинский Университет, Россия
      +e.item(data-index="12") Петрозаводский Университет, Россия
      +e.item(data-index="13") Институт Мешалкина, Новосибирск, Россия
      +e.item(data-index="14") Федеральный Медицинский Центр, Пермь, Россия
      +e.item(data-index="15") Ярославская Государственная Медицинская Академия, Ярославль, Россия
      +e.item(data-index="16") Университетская Больница Св. Марина, Варна, Болгария
    +e.switcher
      +e.toggle
        +e.text Показать еще 11 партнеров
        +icon('arrow-small').icon
