mixin popup-child()
  +popup.popup-child__&attributes(attributes)
    +e.main
      +e.col_left
        +e.photo 
          +e.IMG.image(src="" data-child-photo)
      +e.col_right 
        +e.title(data-child-diagnosis-short) 
        +e.info 
          +e.name(data-child-name) 
          +e.text(data-child-info) 
    +e.describe.content-zone
      +e.H5 Диагноз
      +e.P(data-child-diagnosis-full)
      +e.H5 Эпикриз
      +e.P(data-child-epicrisis)
