mixin popup-child()
  +popup.popup-child__&attributes(attributes)
    +e.main
      +e.col_left
        +e.photo 
          +e.IMG.image(src="assets/images/child-1.jpg" data-child-photo)
      +e.col_right 
        +e.title(data-child-diagnosis-short) Тотальный аномальный дренаж лёгочных вен
        +e.info 
          +e.name(data-child-name) Вероника Поваго
          +e.text(data-child-info) 2 год, Москва
    +e.describe.content-zone
      +e.H5 Диагноз
      +e.P(data-child-diagnosis-full) При рождении Вероника чувствовала себя хорошо, но в возрасте 1 месяца ее состояние ухудшилось. Был диагностирован комплексный врожденный дефект сердца – тотальный аномальный дренаж легочных вен. Была проведена радикальная операция. Сегодня Вероника здорова и чувствует себя прекрасно.
      +e.H5 Эпикриз
      +e.P(data-child-epicrisis) Здорова
