mixin news(type, img, video)
  - var link = "#"
  - if (type === 'video') { link = video }
  - if (type === 'image') {link = img}
  +b.news&attributes(attributes)
    if type
      +e.media-wrapper
        +e.A.media.js-fancybox(href= link)
          +e.IMG.image(src=img)
          - if (type === 'video') {
            +e.play
              +icon('play').icon
          - }
    block

mixin news-short(type, img, video)
  - var link = "#"
  //- if (type === 'video') { link = video }
  //- if (type === 'image') {link = img}
  +b.A.news_short&attributes(attributes)
    if type
      +e.DIV.media
        +e.IMG.image(src=img)
        - if (type === 'video') {
          +e.play
            +icon('play').icon
        - }
    block
