include ../blocks/accordion/accordion
include ../blocks/block-list/block-list
include ../blocks/button/button
include ../blocks/child-list/child-list
include ../blocks/child/child
include ../blocks/content-zone/content-zone
include ../blocks/dropdown/dropdown
include ../blocks/form-elements/form-elements
include ../blocks/grid/grid
include ../blocks/icon/icon
include ../blocks/link/link
include ../blocks/lists/lists
include ../blocks/logo/logo
include ../blocks/map/map
include ../blocks/news-list/news-list
include ../blocks/news/news
include ../blocks/page-section/page-section
include ../blocks/person/person
include ../blocks/play/play
include ../blocks/popups/popups
include ../blocks/reg-button/reg-button
include ../blocks/slider/slider
include ../blocks/stat-data/stat-data
include ../blocks/statistic/statistic
include ../blocks/table/table
include ../blocks/tabs/tabs
include ../blocks/text-block/text-block
include ../components/footer/footer
include ../components/header/header
include ../components/main/main
include ../components/patients/patients
include ../components/ui-kit/ui-kit