mixin info-block()
  +b.info-block&attributes(attributes)
    +e.H3.title Россия
    +grid
      +col(6)
        +text-block
          +e.P – один из самых перспективных партнеров Фонда. Поддержка Президента и правительства, реализующаяся в национальном российском проекте «Здоровье» в сочетании с международной образовательной и научной деятельностью Сердца ЕврАзии может вывести российские федеральные центры сердечно-сосудистой хирургии на мировой уровень и прекратить отток пациентов за границу.
        +button('a')(href="#news").js-popup Новости фонда
      +col(6)
        +text-block
          +e.P С 2005 года Фонд сотрудничает с российскими партнерами. Миссии проходят в Санкт-Петербурге, Новосибирске, Екатеринбурге, Пензе, Петрозаводске, Томске, Ярославле, Воронеже. В числе партнерских организаций Фонда — Первый Санкт-Петербургский государственный медицинский университет им. академика И.П. Павлова, Военно-медицинская академия, Санкт-Петербургский Государственный Педиатрический Медицинский Университет, Новосибирский Институт Патологии Кровообращения им. Е.Н. Мешалкина, Томский центр детского сердца РАН, Ярославский медицинский университет и др.
