.news-list {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 7.185vw 0 9.375vw;

  @include screen('tablet-wide') {
    padding: 3vw $grid-gap/2;
  }

  &__title {
    @include text-small;

    font-family: $font-fourth;
    font-weight: 700;
    margin-bottom: 26px;
    letter-spacing: .03em;
    width: 100%;
    padding: 0 $container-padding-mobile;

    @include screen('tablet-wide') {
      @include text-bigger;

      font-family: $font-fourth;
      font-weight: 700;
      margin-bottom: 37px;
      letter-spacing: normal;
      padding: 0;
    }
  }

  &__list {
    width: 100%;
  }

  .swiper-wrapper {
    flex-direction: row;

    @include screen('tablet-wide') {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  .slider {
    @include screen('tablet-wide') {
      border-top: 1px solid $color-border;
    }

    &__slide {
      padding: 0;
      height: auto;
      border-right: none;
      margin-right: $container-padding-mobile;

      @include screen('tablet-wide') {
        width: 100%;
        margin-right: 0;
      }

      &:first-child {
        margin-left: $container-padding-mobile;

        @include screen('tablet-wide') {
          margin-left: 0;
        }
      }
    }

    &__button {
      @include screen('tablet-wide') {
        display: none;
      }
    }
  }

  &_full {
    padding: 0;

    .news-list {

      &__title {
        @include screen('desktop-small', max) {
          display: none;
        }
      }

      &__list {
        box-sizing: border-box;
        padding-top: 11px;

        @include screen('tablet-wide') {
          padding-top: 30px;
        }

        @include screen('desktop-small') {
          border-top: 1px solid $color-border;
        }
      }

      &__item {
        margin-bottom: 30px;
      }
    }
  }
}
