.accordion {
  $b: &;

  @include text-bigger;

  color: $color-white;

  .accordions & { margin-top: -1px; }

  &:last-of-type {
    transition: border $ease-main;
    border-bottom: 1px solid $color-grey;

    &.is-active {
      border-bottom: 1px solid transparent;
    }
  }

  &__header {
    position: relative;
    padding-right: 28px;
    border-top: 1px solid $color-grey;
    width: 100%;
    box-sizing: border-box;
    line-height: 38px;
  }

  &__toggle {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 50%;
    right: 0;
    width: 24px;
    height: 24px;
    transition: all $ease-main;
    transform: translateY(-50%) rotate(90deg);

    #{$b}.is-active & {
      transform: translateY(-50%) rotate(270deg);
    }
  }

  &__icon {
    width: 14px;
    height: 11px;
    fill: $color-main;
  }

  &__button {
    padding: 48px 0;
    font-family: $font-fourth;
    font-weight: 700;
    cursor: pointer;
  }

  &__body {
    border-top: 0;
    width: 100%;
    box-sizing: border-box;
    display: none;
    padding-bottom: 8vh;

    #{$b}.is-active & { display: block; }
  }
}

.accordions {
  padding-top: 1px;
}
