mixin accordions(isMultiple)
  - var defaultMultiple = typeof isMultiple !== undefined ? !!isMultiple : true

  +b.accordions&attributes(attributes)(data-accordion-multiple=`${defaultMultiple}`)
    block

mixin accordion
  +b.accordion&attributes(attributes)
    block

mixin accordion-header
  +e.header&attributes(attributes)
    block

mixin accordion-button
  +e.button.js-accordion-button&attributes(attributes)
    +e.toggle
      +icon('arrow-small').icon
    block

mixin accordion-body
  +e.body&attributes(attributes)
    block


mixin accordion-experts()
  +accordion
    +accordion-header
      +accordion-button Международная группа экспертов
    +accordion-body
      +grid
        +col(3)
          +person('assets/images/member-4.jpg', 'Хубулава Геннадий Григорьевич')
            +e.short-info Главный кардиохирург СЗФО, заведующий кафедрой факультетской хирургии, кардиох…
              +e.A(href='#').more.js-show-more еще
            +e.full-info Главный кардиохирург СЗФО, заведующий кафедрой факультетской хирургии, кардиохирург, академик РАН, доктор медицинских наук.
        +col(3)
          +person('assets/images/member-5.jpg', 'Марченко Сергей Павлович')
            +e.short-info Кардиохирург, доктор медицинских наук
        +col(3)
          +person('assets/images/member-6.jpg', 'Селивёрстова Анастасия Алексеевна')
            +e.short-info Известный cпециалист в неонатальной и детской кардиологии, эхокардиографии…
              +e.A(href='#').more.js-show-more еще
            +e.full-info Известный cпециалист в неонатальной и детской кардиологии, эхокардиографии. Неоднократно стажировалась в ведущих европейских клиниках.
        +col(3)
          +person('assets/images/member-7.jpg', 'Чупаева Ольга Юрьевна')
            +e.short-info Неонатолог, детский кардиолог. Известный специалист в эхокардиографиче…
              +e.A(href='#').more.js-show-more еще
            +e.full-info Неонатолог, детский кардиолог. Известный специалист в эхокардиографической диагностике врожденных пороков сердца, гемодинамики, острой сердечной недостаточности, детской кардиореаниматологии, анестезиологии, экстракорпоральной мембранной оксигенации.
        +col(3)
          +person('assets/images/member-8.jpg', 'Алексей Борисович Наумов')
            +e.short-info Кандидат медицинских наук. Известный специалист в вопросах гемодинамики, ост…
              +e.A(href='#').more.js-show-more еще
            +e.full-info Кандидат медицинских наук. Известный специалист в вопросах гемодинамики, острой сердечной недостаточности, детской кардиореаниматологии, анестезиологии, экстракорпоральной мембранной оксигенации.
        +col(3)
          +person('assets/images/member-9.jpg', 'Невмержицкая Оксана Владимировна')
            +e.short-info Неонатолог, кандидат медицинских наук. Обладает клиническим опытом в неонатол
              +e.A(href='#').more.js-show-more еще
            +e.full-info Неонатолог, кандидат медицинских наук. Обладает клиническим опытом в неонатологии, ведении беременности и является известным специалистом по контролю качества оказания медицинской помощи.
        +col(3)
          +person('assets/images/member-1.jpg', 'Пауль Р. Фогт (Paul Vogt)')
            +e.short-info Кардиохирург, профессор университетской клиники Цюриха,…
              +e.A(href='#').more.js-show-more еще
            +e.full-info Кардиохирург, профессор университетской клиники Цюриха, Щвейцария
        +col(3)
          +person('assets/images/member-11.jpg', 'Дитрих Клаувер (Dietrich Klauwer)')
            +e.short-info Швейцария. Известный специалист по вопросам неонатальной кар…
              +e.A(href='#').more.js-show-more еще
            +e.full-info Швейцария. Известный специалист по вопросам неонатальной кардиологии, кардиореаниматологии, эхокардиографии у детей с врожденными пороками сердца. По монографиям Д. Клаувера учатся специалисты в детской кардиореанимации по всему миру.
        +col(3)
          +person('assets/images/member-12.jpg', 'Сабина Дэбриц (Sabine Daebritz)')
            +e.short-info Кардиохирург, профессор, Клиника им Парк, Швейцария.
        +col(3)
        +col(3)
        +col(3)

mixin accordion-trustees()
  +accordion
    +accordion-header
      +accordion-button Попечительский комитет
    +accordion-body
      +grid
        +col(3)
          +person('assets/images/member-1.jpg', 'Пауль Фогт')
            +e.short-info Учредитель Фонда Ведущий кардиохирург Швейцарии
        +col(3)
          +person('assets/images/member-2.jpg', 'Герхард Шредер')
            +e.short-info Сопредседатель Попечительского Совета Фонда, Экс-канцлер Германии
        +col(3)
          +person('assets/images/member-3.jpg', 'Дёлф Оги')
            +e.short-info Сопредседатель Попечительского Совета Фонда, Экс-президент Швейцарии
        +col(3)
          +person('assets/images/member-14.jpg', 'Александр Дмитриев')
            +e.short-info Художественный руководитель и главный дирижер Академического симфо…
              +e.A(href='#').more.js-show-more еще
            +e.full-info Художественный руководитель и главный дирижер Академического симфонического оркестра Санкт-Петербургской филармонии
        +col(3)
          +person('assets/images/member-4.jpg', 'Геннадий Хубулава')
            +e.short-info Главный кардиохирург СЗФО, заведующий кафедрой факультетской хирургии, кардиох…
              +e.A(href='#').more.js-show-more еще
            +e.full-info Главный кардиохирург СЗФО, заведующий кафедрой факультетской хирургии, кардиохирург, академик РАН, доктор медицинских наук.
        +col(3)
          +person('assets/images/member-13.jpg', 'Андрей Фоменко')
            +e.short-info Российский предприниматель в сфере недвижимости и биотехнологий
        +col(3)
          +person('', 'Сергей Слагода')
            +e.short-info Адвокат
        +col(3)
          +person('assets/images/member-15.jpg', 'Элла Толмачева')
            +e.short-info Директор проекта
