mixin accordions(isMultiple)
  - var defaultMultiple = typeof isMultiple !== undefined ? !!isMultiple : true

  +b.accordions&attributes(attributes)(data-accordion-multiple=`${defaultMultiple}`)
    block

mixin accordion
  +b.accordion&attributes(attributes)
    block

mixin accordion-header
  +e.header&attributes(attributes)
    block

mixin accordion-button
  +e.button.js-accordion-button&attributes(attributes)
    +e.toggle
      +icon('plus').icon
    block

mixin accordion-body
  +e.body&attributes(attributes)
    block


mixin accordion-working()
  +grid
    +col({xs: 12, xl: 6})
      +accordion.is-active
        +accordion-header
          +accordion-button(data-target="acc1") Передаем опыт
        +e.content(data-fbm-place="acc1")
          +accordion-body.is-active(data-float-block="acc1" data-body="acc1")
            +text-block._stylized Блок 1
      +accordion
        +accordion-header
          +accordion-button(data-target="acc2") Объединяем специалистов
        +e.content(data-fbm-place="acc2")
          +accordion-body(data-float-block="acc2" data-body="acc2")
            +text-block._stylized Блок 2
      +accordion
        +accordion-header
          +accordion-button(data-target="acc3") Налаживаем связи
        +e.content(data-fbm-place="acc3")
          +accordion-body(data-float-block="acc3" data-body="acc3")
            +text-block._stylized Блок 3
      +accordion
        +accordion-header
          +accordion-button(data-target="acc4") Находим пациетов
        +e.content(data-fbm-place="acc4")
          +accordion-body(data-float-block="acc4" data-body="acc4")
            +text-block._stylized Блок 4
      +accordion
        +accordion-header
          +accordion-button(data-target="acc5") Вырабатываем стратегию
        +e.content(data-fbm-place="acc5")
          +accordion-body(data-float-block="acc5" data-body="acc5")
            +text-block._stylized Блок 5
      +accordion
        +accordion-header
          +accordion-button(data-target="acc6") Контролируем результат
        +e.content(data-fbm-place="acc6")
          +accordion-body(data-float-block="acc6" data-body="acc6")
            +text-block._stylized Блок 6
    +col({xs: 12, xl: 6})
      div.accordion__content-desktop(data-fbd-place="acc1 acc2 acc3 acc4 acc5 acc6")
