mixin accordions(isMultiple)
  - var defaultMultiple = typeof isMultiple !== undefined ? !!isMultiple : true

  +b.accordions&attributes(attributes)(data-accordion-multiple=`${defaultMultiple}`)
    block

mixin accordion
  +b.accordion&attributes(attributes)
    block

mixin accordion-header
  +e.header&attributes(attributes)
    block

mixin accordion-button
  +e.button.js-accordion-button&attributes(attributes)
    +e.toggle
      +icon('plus').icon
    block

mixin accordion-body
  +e.body&attributes(attributes)
    block


mixin accordion-working()
  +grid
    +col({md: 12, xl: 6}).js-sr_1
      +accordion.is-active
        +accordion-header
          +accordion-button(data-target="acc0") Как мы работаем
        +e.content(data-fbm-place="acc0")
          +accordion-body.is-active(data-float-block="acc0" data-body="acc0")
            +text-block._stylized 
              p Сердце ЕврАзии работает полностью на благотворительной основе. Все виды деятельности организации предоставляются бесплатно и без какой-либо компенсации участникам проектов. Специалистам компенсируются только расходы на транспорт, проживание и питание во время миссий. Члены комитета и патронажного комитета Фонда работают бесплатно. Административные расходы ограничиваются техническими затратами и работой интернет-сайта. 
      +accordion
        +accordion-header
          +accordion-button(data-target="acc1") Передаем опыт
        +e.content(data-fbm-place="acc1")
          +accordion-body(data-float-block="acc1" data-body="acc1")
            +text-block._stylized 
              p Врачи Фонда приезжают в заинтересованные страны для сотрудничества с местными специалистами на благотворительной основе. Обмен опытом и передача знаний осуществляется непосредственно на рабочих местах (в операционных, отделениях кардиореанимаций, детской кардиологии, перинатальных центрах) и помогает коллегам еще более успешно осуществлять диагностику и лечение сердечно-сосудистых заболеваний у детей, а также проводить профилактические меры.
      +accordion
        +accordion-header
          +accordion-button(data-target="acc2") Объединяем специалистов
        +e.content(data-fbm-place="acc2")
          +accordion-body(data-float-block="acc2" data-body="acc2")
            +text-block._stylized 
              p Формируется команда профессионалов из местных и зарубежных специалистов для углубленного взаимодействия как во время миссий, так и между визитами посредством проведения консилиумов и консультаций, проводимых на постоянной основе. Передача знаний осуществляется на местах, используя существующую инфраструктуру госпиталя.
      +accordion
        +accordion-header
          +accordion-button(data-target="acc3") Выбираем сложных пациентов
        +e.content(data-fbm-place="acc3")
          +accordion-body(data-float-block="acc3" data-body="acc3")
            +text-block._stylized 
              p Происходит отбор пациентов с особо сложной или редкой формой заболевания, требующей привлечения опытной международной команды врачей или хирургов для повторных ревизионных операций.
      +accordion
        +accordion-header
          +accordion-button(data-target="acc4") Проводим консилиумы
        +e.content(data-fbm-place="acc4")
          +accordion-body(data-float-block="acc4" data-body="acc4")
            +text-block._stylized 
              p На консилиумах тщательно разбирается диагноз каждого ребенка, но особое внимание уделяется спорным и сложным случаям.
      +accordion
        +accordion-header
          +accordion-button(data-target="acc5") Вырабатываем стратегию лечения
        +e.content(data-fbm-place="acc5")
          +accordion-body(data-float-block="acc5" data-body="acc5")
            +text-block._stylized 
              p После проведения диагностических мер, команда специалистов выстраивает стратегию лечения каждого пациента, нередко требуется привлечение специалистов и из других сфер медицины, чем Фонд также располагает через сеть контактов с ведущими мировыми клиниками.
      +accordion
        +accordion-header
          +accordion-button(data-target="acc6") Контролируем результат
        +e.content(data-fbm-place="acc6")
          +accordion-body(data-float-block="acc6" data-body="acc6")
            +text-block._stylized 
              p Контроль качества лечения - это залог роста и успеха! Мы поддерживаем связь с нашими пациентами в течение длительного периода времени, корректируем схемы лечения, если это необходимо.
    +col({md: 12, xl: 6}).mobile-hide.js-sr_2
      div.accordion__content-desktop(data-fbd-place="acc0 acc1 acc2 acc3 acc4 acc5 acc6")
