mixin pin(interactive)
  +b.pin&attributes(attributes)
    block

mixin pin-mark()
  +e.mark
    +icon('plus').icon
    
mixin pin-mark-hidden()
  +e.mark_hidden.js-tooltip-close
    +icon('plus').icon
