@import '../../node_modules/swiper/dist/css/swiper.css';

.slider {
  position: relative;

  &__slide {
    width: auto;
    height: 100vh;
    box-sizing: border-box;
    padding-top: 11vh;
    padding-bottom: 11vh;
    border-right: 1px solid $color-border;

    &_statistic {
      width: 42.2vw;
    }

    &_child {
      width: 25vw;
    }

    &_list {
      border-right: none;
      padding-bottom: 0;
    }
  }

  &__dots {
    position: absolute;
    bottom: 10px;
    left: 20px;
    right: 20px;
    text-align: center;
    z-index: 2;
    pointer-events: none;
  }

  &__dot {
    margin: 5px;
    width: 10px;
    height: 10px;
    border: 1px solid $color-border;
    border-radius: 100px;
    display: inline-block;
    position: relative;
    transition: border-color $ease-main, background-color $ease-main;
    pointer-events: all;
    cursor: pointer;

    &.active {
      background-color: $color-main;
      border-color: $color-main;
    }
  }

  &__button {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 66px;
    height: 66px;
    transition: all $ease-main;
    z-index: 2;
    cursor: pointer;
    background-color: $color-main;
    box-sizing: border-box;
    padding-left: 4px;

    &:hover { opacity: .8; }

    &.swiper-button-disabled {
      opacity: 0;
      pointer-events: none;
    }

    &_next {
      right: 0;
    }

    &_prev {
      left: 0;
      transform: rotate(180deg);
    }
  }

  &__icon {
    width: 11px;
    height: 19px;
    fill: $color-white;
  }
}
