mixin slider(scrollbar, buttons)
  +b.slider&attributes(attributes).swiper-container
    .swiper-wrapper
      block
    if scrollbar
      .swiper-scrollbar
    if buttons
      +e.button._prev
        +icon('arrow-large').__icon
      +e.button._next
        +icon('arrow-large').__icon

mixin slide(addClass)
  - var slClass = '';
  - if (addClass) { slClass = addClass}
  +e(class= "slide" + slClass + " swiper-slide")&attributes(attributes)
    block
