.play {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 140px;
  height: 140px;
  padding: 37px;
  border: 1px solid rgba($color-white, .2);
  background-color: $color-main;
  background-clip: content-box;
  transition: all $ease-main;

  &__icon {
    position: absolute;
    top: 60px;
    left: 63px;
    width: 16px;
    height: 20px;
    fill: $color-white;
    transition: all $ease-main;
  }

  &:hover {
    border-color: rgba($color-white, .5);
    background-color: rgba($color-main, .9);
  }

  &:active {
    background-color: rgba($color-dirt, .9);
  }
}
