.stat-data {
  display: block;

  &__title {
    @include heading-3;
    font-weight: 500;
    font-family: $font-third;
    line-height: 1.17;
    margin-bottom: 14px;
    width: 100%;
  }

  &__text {
    @include text;
    line-height: 1.45;
    width: 100%;
  }
}
