mixin focus()
  +b.focus&attributes(attributes)
    +e.IMG.image(src="assets/images/russia-small-vert.jpg")
    +e.header
      +e.subtitle Фокус:
      +e.title Россия
    +e.A.link.js-popup(href="#focus")
      +e.text Читать далее
      +e.icon
        +icon('arrow-small').angle
