.focus {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  padding: 7.5vw $container-padding-mobile;
  overflow: hidden;
  color: $color-white;
  cursor: pointer;
  text-decoration: none;

  @include screen('tablet-wide') {
    padding: 50px 46px 56px;
  }

  &:hover {

    .focus {

      &__header, &__link {
        opacity: .5;
      }

      &__image {
        transform: scale(1.1);
      }
    }
  }

  &::before {
    @include pseudo;

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(#000, .2));
    z-index: 2;
  }

  &__image {
    @include fill-img;

    z-index: 1;
    transition: transform $ease-main;
    transform: scale(1);
  }

  &__header {
    position: relative;
    width: 100%;
    z-index: 3;
    margin-bottom: auto;
    transition: opacity $ease-main;
  }

  &__title {
    @include heading-3;

    width: 100%;
    font-family: $font-second;
    font-weight: 700;
    display: block;

    @include screen('tablet-wide') {
      @include heading-2;

      font-weight: 700;
    }
  }

  &__subtitle {
    @include heading-6;

    width: 100%;
    font-family: $font-fourth;
    font-weight: 700;
    margin-bottom: 4px;
    display: block;

    @include screen('tablet-wide') {
      @include heading-2;

      font-family: $font-second;
      font-weight: 700;
      margin-bottom: -4px;
    }
  }

  &__link {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    transition: opacity $ease-main;
    z-index: 3;

    @include text-small;

    color: $color-white;
    text-decoration: none;
    font-family: $font-fourth;
    letter-spacing: .029em;
    font-weight: 700;
    margin-top: 24vw;

    @include screen('tablet-wide') {
      margin-top: 80px;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 6px;
  }

  &__angle {
    width: 7.1px;
    height: 11.4px;
    fill: $color-white;
  }
}
