.statistic {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  box-sizing: border-box;

  &__title {
    @include heading-6;

    font-family: $font-fourth;
    margin-bottom: 18px;
    letter-spacing: .029em;
    width: 100%;

    @include screen('tablet-wide') {
      @include heading-5;

      margin-bottom: 45px;
      margin-top: -12px;
    }
  }

  &__info {
    @include text-large;

    font-family: $font-fourth;
    font-weight: 300;
    line-height: 1.3;
    margin-bottom: auto;
  }

  &__subtitle {
    @include heading-3;

    font-family: $font-second;
    margin-top: auto;

    @include screen('tablet-wide') {
      @include heading-2;

      line-height: 1.02;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    width: 100%;
  }

  &__item {
    width: 50%;
    box-sizing: border-box;
    padding: 23px 10px 0 0;
    border-top: 1px solid $color-border;
    margin-top: 20px;

    @include screen('tablet-wide') {
      padding-top: 36px;
      margin-top: 32px;
    }
  }

  &_patients {
    width: 100%;

    @include screen('tablet-wide') {
      padding: 0 4.7vw 0 12.5vw;
    }
  }

  &_list {

    .stat-data {

      &__title {
        @include screen('tablet-wide') {
          margin-bottom: 10px;
        }
      }

      &_note {

        .stat-data__title {
          @include screen('tablet-wide') {
            margin-bottom: 0;
          }
        }
      }
    }

    .statistic {

      &__list {
        height: 100%;
        align-content: space-between;
      }

      &__item {
        border-top: 1px solid $color-lighter-grey;
        padding-top: 11vw;
        margin-bottom: 6.9vw;
        margin-top: 0;
        width: 100%;

        @include screen('tablet') {
          width: 50%;
          padding-top: 46px;
          margin-bottom: 40px;
        }

        &:first-child {
          @include screen('tablet', max) {
            border-top-width: 0;
            padding-top: 0;
          }
        }

        &:nth-child(1), &:nth-child(2) {
          @include screen('tablet') {
            padding-top: 5px;
            border-top-width: 0;
          }
        }

        &:nth-last-child(1), &:nth-last-child(2) {
          margin-bottom: 0;
        }

        &:nth-child(even) {
          @include screen('tablet') {
            padding-left: 3.125vw;
            padding-right: 0;
          }
        }

        &:nth-child(odd) {
          @include screen('tablet') {
            padding-left: 0;
            padding-right: 3.125vw;
          }
        }

        &_note {
          padding-top: 9vw;
          width: 50%;

          @include screen('tablet') {
            padding-top: 41px;
          }

          &:nth-child(even) {
            padding-left: 3.125vw;
            padding-right: 0;
          }

          &:nth-child(odd) {
            padding-left: 0;
            padding-right: 3.125vw;
          }
        }
      }
    }
  }
}
